.row
    .col-xs-12
        span.lead
            i.fa.fa-fw.fa-lg.fa-home
            = ' '
            | FIRSTNAME
br
.row
    .col-xs-12

        ul.list-group#home-list
            li.list-group-item#home-stat
                i.nav-icon.fa.fa-fw.fa-lg.fa-line-chart
                span
                    b
                        = ' '
                        | View Stats
            li.list-group-item#home-exercise
                i.nav-icon.fa.fa-fw.fa-lg.fa-heartbeat
                span
                    b
                        = ' '
                        | Add New Workout
            li.list-group-item#home-logs
                i.nav-icon.fa.fa-fw.fa-lg.fa-area-chart
                span
                    b
                        = ' '
                        | View Workout Logs