.row
    .col-sm-12
        span.lead Home
br
.row
    .col-sm-12
        // Nav tabs
        ul.nav.nav-tabs(role='tablist')
            li.active#index-tab-signup(role='presentation')
                a(href='#index-tab-signup', aria-controls='signup', role='tab', data-toggle='tab')
                    b Sign Up
            li#index-tab-login(role='presentation')
                a(href='#index-tab-login', aria-controls='login', role='tab', data-toggle='tab')
                    b Login