.row
    .col-sm-12
        span.lead Home
br
#accordion.panel-group
    .panel.panel-default
        .panel-heading(data-toggle='collapse', data-parent='#accordion', href='#collapse1')
            h4.panel-title
                a#home-exercise
                    i.fa.fa-fw.fa-lg.fa-heartbeat
                    = ' '
                    | Exercise
                .pull-right
                    i.fa.fa-fw.fa-caret-down
        #collapse1.panel-collapse.collapse
            .panel-body
                .list-group
                    a.list-group-item
                        i.fa.fa-fw.fa-lg.fa-shield
                        = ' '
                        | Strength
                    a.list-group-item
                        i.fa.fa-fw.fa-lg.fa-bicycle
                        = ' '
                        |Endurance
                    a.list-group-item
                        i.fa.fa-fw.fa-lg.fa-heart
                        = ' '
                        |Flexibility
                    a.list-group-item
                        i.fa.fa-fw.fa-lg.fa-balance-scale
                        = ' '
                        |Balance
    .panel.panel-default
        .panel-heading(data-toggle='collapse', data-parent='#accordion', href='#collapse2')
            h4.panel-title
                a#home-stat
                    i.fa.fa-fw.fa-lg.fa-line-chart
                    = ' '
                    | Status
                .pull-right
                    i.fa.fa-fw.fa-caret-down
        #collapse2.panel-collapse.collapse
            .panel-body
                | Under Construction...
    .panel.panel-default
        .panel-heading(data-toggle='collapse', data-parent='#accordion', href='#collapse3')
            h4.panel-title
                a#home-schedule
                    i.fa.fa-fw.fa-lg.fa-calendar
                    = ' '
                    | Schedule
                .pull-right
                    i.fa.fa-fw.fa-caret-down
        #collapse3.panel-collapse.collapse
            .panel-body
                | Under Construction...
    .panel.panel-default
        .panel-heading(data-toggle='collapse', data-parent='#accordion', href='#collapse4')
            h4.panel-title
                a#home-log
                    i.fa.fa-fw.fa-lg.fa-area-chart
                    = ' '
                    | Logs
                .pull-right
                    i.fa.fa-fw.fa-caret-down
        #collapse4.panel-collapse.collapse
            .panel-body
                | Under Construction...
    .panel.panel-default
        .panel-heading(data-toggle='collapse', data-parent='#accordion', href='#collapse5')
            h4.panel-title
                a#home-multiplayer
                    i.fa.fa-fw.fa-lg.fa-group
                    = ' '
                    | Multiplayer
                .pull-right
                    i.fa.fa-fw.fa-caret-down
        #collapse5.panel-collapse.collapse
            .panel-body
                | Under Construction...