.row
    .col-xs-12
        span.lead.page-header
            i.fa.fa-fw.fa-lg.fa-home
            = ' '
            | Home
br
.row
    .col-lg-6.col-xs-12

        ul.list-group#home-list
            li.list-group-item#home-stat
                i.nav-icon.fa.fa-fw.fa-lg.fa-line-chart
                span
                    b
                        = ' '
                        | View Stats
            li.list-group-item#home-exercise
                i.nav-icon.fa.fa-fw.fa-lg.fa-heartbeat
                span
                    b
                        = ' '
                        | Exercises
                span.badge.badge-color#home-exercise-count 0
            li.list-group-item#home-log
                i.nav-icon.fa.fa-fw.fa-lg.fa-area-chart
                span
                    b
                        = ' '
                        | Workout Logs
                span.badge.badge-color#home-log-count 0