.row
    .col-xs-12
        span.lead
            i.fa.fa-fw.fa-lg.fa-home
            = ' '
            | FIRSTNAME

br
.row
    .col-xs-12
        table.table.table-hover
            thead
                tr
                    td.col-xs-1
                    td
            tbody
                tr#home-stat
                    td
                        i.fa.fa-fw.fa-lg.fa-line-chart
                    td
                        a
                            b View Personal Status
                tr#home-exercise
                    td
                        i.fa.fa-fw.fa-lg.fa-heartbeat
                    td
                        a
                            b Add New Workout
                tr#home-logs
                    td
                        i.fa.fa-fw.fa-lg.fa-area-chart
                    td
                        a
                            b View Workout Logs