.row
    .col-sm-12
        span.lead Home
br
.col-sm-12#home-content
    .row
        .col-sm-12
            .col-sm-4
                button.btn.btn-default#home-exercise
                    i.fa.fa-fw.fa-lg.fa-heartbeat
                    = ' '
                    | Exercise
            .col-sm-4
                button.btn.btn-default#home-stat
                    i.fa.fa-fw.fa-lg.fa-line-chart
                    = ' '
                    | Stats
            .col-sm-4
                button.btn.btn-default#home-schedule
                    i.fa.fa-fw.fa-lg.fa-calendar
                    = ' '
                    | Schedule
    .row
        .col-sm-12
            .col-sm-4
                button.btn.btn-default#home-log
                    i.fa.fa-fw.fa-lg.fa-area-chart
                    = ' '
                    | Logs
            .col-sm-4
                button.btn.btn-default#home-multiplayer
                    i.fa.fa-fw.fa-lg.fa-group
                    = ' '
                    | Multiplayer

