.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li#calendar-home
                a Home
            li.active
                a Calendar
.row
    .col-xs-12
        .panel.panel-info
            .panel-heading.clearfix
                .panel-title.clearfix
                    i.fa.fa-fw.fa-lg.fa-calendar
                    = ' '
                    | Calendar
            .panel-body
                ul.nav.nav-tabs.nav-justified
                    li.active
                        a(href='#') Events
                    li
                        a(href='#') Schedule
                br
                #calendar-view-container