.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li#calendar-home
                a Home
            li.active
                span Calendar
                i.fa.fa-fw.fa-lg.fa-calendar-plus-o
.row
    .col-xs-12
        .panel.panel-default
            .panel-heading
                h3.panel-title Calendar
            .panel-body
                #calendar-view-container
            .panel-footer.clearfix
                a.pull-right#calendar-schedule
                    i.fa.fa-lg.fa-clock-o