.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li#calendar-home
                a Home
            li.active
                span Calendar
.row
    .col-xs-12
        .panel.panel-info
            .panel-body
                #calendar-view-container
            .panel-footer.clearfix
                a.pull-right.calendar-table-edit
                    = ' '
                    i.fa.fa-lg.fa-pencil-square-o
