.col-xs-12
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                a.navbar-brand#navbar-drawer
                    i.fa.fa-lg.fa-navicon
                    = ' '
                img(src='./images/logo.png')#navbar-logo
                img(src='./images/banner.png')#navbar-banner
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#nav-collapse-menu")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

            .collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li.nav-divider-vertical.hidden-xs
                    li.hidden-xs.nav-strengths.nav-strengths-tip
                        a
                            i.nav-icon.fa.fa-fw.fa-2x.fa-file-text-o
                    li.nav-divider-vertical.hidden-xs
                    li.hidden-xs.nav-logs.nav-logs-tip
                        a
                            i.nav-icon.fa.fa-fw.fa-2x.fa-bar-chart
                    li.nav-divider-vertical.hidden-xs
                    li.dropdown
                        a.dropdown-toggle(data-toggle="dropdown", role="button", aria-expanded="false")
                            b#nav-username USERNAME
                            .caret
                        ul.dropdown-menu(role="menu")
                            li.nav-profile
                                a
                                    i.fa.fa-fw.fa-lg.fa-folder-open
                                    = ' '
                                    | Profile
                            li.nav-setting
                                a
                                    i.fa.fa-fw.fa-lg.fa-cog
                                    = ' '
                                    | Settings
                            li.divider
                            li.nav-about
                                a
                                    i.fa.fa-fw.fa-lg.fa-info
                                    = ' '
                                    | About Us
                            li.nav-report
                                a
                                    i.fa.fa-fw.fa-lg.fa-ambulance
                                    = ' '
                                    | Report A Bug
                            li.divider
                            li.nav-logout
                                a
                                    i.fa.fa-fw.fa-lg.fa-sign-out
                                    = ' '
                                    | Log Out

            #nav-collapse-menu.collapse.navbar-collapse
                ul.visible-xs.list-group
                    li.list-group-item.nav-home
                        i.nav-icon.fa.fa-fw.fa-lg.fa-home
                        span
                            = ' '
                            | Home
                    li.list-group-item.nav-summary
                        i.nav-icon.fa.fa-fw.fa-lg.fa-line-chart
                        span
                            = ' '
                            | Summary
                    li.list-group-item.nav-strength
                        i.nav-icon.fa.fa-fw.fa-lg.fa-shield
                        span
                            = ' '
                            | Strength Workout
                    li.list-group-item.nav-log
                        i.nav-icon.fa.fa-fw.fa-lg.fa-area-chart
                        span
                            = ' '
                            | Strength Log
                    li.list-group-item
                        i.fa.fa-fw.fa-lg.fa-user
                        = ' '
                        | My Profile
                    li.list-group-item.nav-setting
                        i.fa.fa-fw.fa-lg.fa-cog
                        = ' '
                        | Settings
                    li.list-group-item.nav-logout
                        i.fa.fa-fw.fa-lg.fa-sign-out
                        = ' '
                        | Sign Out
