.row
    .col-md-8.col-center
        ol.breadcrumb(style='margin-bottom: 5px;')
            li.active
                span Home
                i.fa.fa-fw.fa-lg.fa-home
            .pull-right
                i.fa.fa-fw.fa-lg.fa-question-circle#home-help(style="cursor:pointer")
.row
    .col-md-8.col-center
        .panel.panel-default
            .panel-heading.panel-center#home-user-heading
                #home-user-picture-container
                    img#home-user-picture(src="images/profile-icon.png" alt="No Profile Picture")
                h3.panel-title
                    i.fa.fa-fw.fa-lg.fa-book
                    span &nbsp
                    | Journals
            ul.list-group.home-list
                li.list-group-item#home-strengths
                    i.nav-icon.fa.fa-fw.fa-lg.fa-hand-rock-o
                    a
                        b
                            span &nbsp
                            | Strength Training
                    .home-journal-counters
                        i.fa.fa-fw.fa-lg.fa-book
                        span#home-sconf-count 0
                        span &nbsp
                        i.fa.fa-fw.fa-lg.fa-pencil
                        span#home-slog-count 0
                li.list-group-item#home-cardios
                    i.nav-icon.fa.fa-fw.fa-lg.fa-heartbeat
                    a
                        b
                            span &nbsp
                            | Cardio Training
                    .home-journal-counters
                        i.fa.fa-fw.fa-lg.fa-book
                        span#home-cconf-count 0
                        span &nbsp
                        i.fa.fa-fw.fa-lg.fa-pencil
                        span#home-clog-count 0
                li.list-group-item#home-weights
                    i.nav-icon.fa.fa-fw.fa-lg.fa-tachometer
                    a
                        b
                            span &nbsp
                            | Weight Logs
                    .home-journal-counters
                        i.fa.fa-fw.fa-lg.fa-pencil
                        span#home-wlog-count 0
//.row
    .col-md-8.col-center
        .panel.panel-default
            .panel-heading.panel-center
                h3.panel-title
                    i.fa.fa-fw.fa-lg.fa-users
                    span &nbsp
                    | Social
            ul.list-group.home-list
                li.list-group-item#home-social-profile
                    i.nav-icon.fa.fa-fw.fa-lg.fa-id-badge
                    a
                        b
                            span &nbsp
                            | My Profile
.row
    .col-md-8.col-center
        .panel.panel-default
            .panel-heading.panel-center
                h3.panel-title
                    i.fa.fa-fw.fa-lg.fa-cubes
                    span &nbsp
                    | Misc
            ul.list-group.home-list
                li.list-group-item#home-schedule
                    i.nav-icon.fa.fa-fw.fa-lg.fa-clock-o
                    a
                        b
                            span &nbsp
                            | Daily Schedule
                //li.list-group-item#home-timeline
                    i.nav-icon.fa.fa-fw.fa-lg.fa-newspaper-o
                    a
                        b
                            span &nbsp
                            | Timeline
                li.list-group-item#home-calendar
                    i.nav-icon.fa.fa-fw.fa-lg.fa-calendar-plus-o
                    a
                        b
                            span &nbsp
                            | History Calendar

.row#home-admin-accounts-container.hide
    .col-md-8.col-center
        .panel.panel-default
            .panel-heading.panel-center
                h3.panel-title
                    i.fa.fa-fw.fa-lg.fa-user-secret
                    span &nbsp
                    | Admin
            ul.list-group.home-list
                li.list-group-item#home-admin-accounts
                    i.nav-icon.fa.fa-fw.fa-lg.fa-users
                    a
                        b
                            span &nbsp
                            | Accounts
                    span.badge#home-user-count 0

            ul.list-group.home-list
                li.list-group-item#home-admin-feedbacks
                    i.nav-icon.fa.fa-fw.fa-lg.fa-commenting
                    a
                        b
                            span &nbsp
                            | Feedback
                    span.badge#home-feedback-count 0
                li.list-group-item#home-admin-images
                    i.nav-icon.fa.fa-fw.fa-lg.fa-picture-o
                    span
                        b
                            span &nbsp
                            | Images
                    span.badge#home-image-count 0
                li.list-group-item#home-admin-shedules
                    i.nav-icon.fa.fa-fw.fa-lg.fa-calendar
                    span
                        b
                            span &nbsp
                            | Schedules
                    span.badge#home-schedule-count 0
.row
    .col-md-8.col-center
        .panel.panel-default
            .panel.panel-default
                .panel-heading.panel-center
                    h3.panel-title
                        i.fa.fa-fw.fa-lg.fa-user-o
                        span &nbsp
                        | User
            ul.list-group.home-list
                li.list-group-item#home-profile
                    i.nav-icon.fa.fa-fw.fa-lg.fa-id-card-o
                    a
                        b
                            span &nbsp
                            | Profile Setting
                li.list-group-item#home-account
                    i.nav-icon.fa.fa-fw.fa-lg.fa-user-circle
                    a
                        b
                            span &nbsp
                            | Account
