
// Sliding left drawer menu

nav#my-menu.mm-light
    ul
        li#side-nav-side-home
            a
                i.fa.fa-fw.fa-lg.fa-home
                | &nbsp Home
        li
            a#side-nav-exercise
                i.fa.fa-fw.fa-heartbeat
                | &nbsp Exercises
                ul
                    li
                        a
                            i.fa.fa-fw.fa-lg.fa-shield
                            | &nbsp Strength
                    li
                        a
                            i.fa.fa-fw.fa-lg.fa-bicycle
                            | &nbsp Endurance
                    li
                        a
                            i.fa.fa-fw.fa-lg.fa-heart
                            | &nbsp Flexibility
                    li
                        a
                            i.fa.fa-fw.fa-lg.fa-balance-scale
                            | &nbsp Balance
        li
            a#side-nav-schedule
                i.fa.fa-fw.fa-lg.fa-calendar
                | &nbsp Schedule
        li
            a#side-nav-stat
                i.fa.fa-fw.fa-lg.fa-line-chart
                | &nbsp Stats
        li
            a#side-nav-log
                i.fa.fa-fw.fa-lg.fa-area-chart
                | &nbsp Logs
        li
            a#side-nav-contacts
                i.fa.fa-fw.fa-lg.fa-group
                | &nbsp Multiplayers
            ul
                li
                    a
                        i.fa.fa-fw.fa-lg.fa-th-list
                        | &nbsp Friends
                li
                    a
                        i.fa.fa-fw.fa-lg.fa-trophy
                        | &nbsp Ranking
                li
                    a#side-nav-chat
                        i.fa.fa-fw.fa-lg.fa-comments-o
                        | &nbsp Chat