td.strength-table-td-remove(style="text-align:center; cursor:pointer;")
    i.fa.fa-fw.fa-lg.fa-times-circle(style="cursor:pointer;")
td.strength-table-td-time
td.strength-table-td-rep
td.strength-table-td-weight
