.row
    .col-sm-12
        table.table.table-condensed
            thead
                tr
                    td.col-xs-1
                    td
                        b Time
                    td
                        b Reps
                    td
                        b Weight(lb)
            tbody