.row
    .col-sm-12
        form.form-horizontal#account-summary-form
            .form-group
                label.col-sm-6.control-label(for='account-summary-provider') Provider
                .col-sm-6
                    p.form-control-static#account-summary-provider
