.input-group
    span.input-group-btn
        button.btn.btn-info.date-navigate-btn#strength-date-prev
            i.fa.fa-lg.fa-caret-left
    #strength-date-datepicker-container
        span#strength-date-datepicker(style="cursor:pointer")
    span.input-group-btn
        button.btn.btn-info.date-navigate-btn#strength-date-next
            i.fa.fa-lg.fa-caret-right
