.modal.fade#strength-modal-dialog(role="dialog")
    .modal-dialog.modal-sm(role="document")
        .modal-content
            .modal-header
                h4.modal-title Add new exercise
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                form.form-horizontal
                    .form-group
                        .col-xs-12
                            label.control-label(for='strength-modal-muscle') Which muscles are you targeting?
                        .col-xs-12
                            select.form-control.form-control-sm#strength-modal-muscle(multiple='multiple')
                    .form-group
                        .col-xs-12
                            label.control-label(for='strength-modal-name') Give this exercise a name
                        .col-xs-12
                            input.form-control.form-control-sm#strength-modal-name(type='text' required minlength="1" maxlength="25")
                            .help-block.with-errors
                    .form-group
                        .col-xs-12
                            .checkbox
                                label
                                    input.mr-2#strength-modal-body(type='checkbox')
                                    | Will use my body as weights
                    .form-group
                        .col-xs-12
                            .checkbox
                                label
                                    input.mr-2#strength-modal-note-enable(type='checkbox')
                                    | Add comment (optional)
                        .col-xs-12
                            textarea.d-none.form-control.form-control-sm#strength-modal-note(placeholder='Write a comment...' minlength="1" maxlength="250")
                    hr
                    .form-group-row
                        .float-right
                            button.btn.btn-default.mr-1(data-dismiss="modal" type='button') Cancel
                            button.btn.btn-primary#strength-modal-submit(type="submit") Save
