hr
.form-group
    .col-xs-12
        label.strength-modal-set-label Set #
.form-group
    .col-xs-12
        label.control-label Weight
    .col-xs-12
        input.form-control.strength-modal-weight(placeholder=0)
.form-group
    .col-xs-12
        label.control-label Reps
    .col-xs-12
        input.form-control.strength-modal-rep(placeholder=0)
