hr
.form-group
    .col-sm-12
        label.strength-modal-set-label Set #
.form-group
    .col-sm-2.control-label
        label Weight
    .col-sm-10
        input.form-control.strength-modal-weight(placeholder=0)
.form-group
    .col-sm-2.control-label
        label Reps
    .col-sm-10
        input.form-control.strength-modal-rep(placeholder=0)
