.input-group.mb-2
    .input-group-prepend
        button.btn.btn-info#strength-date-prev
            i.fa.fa-lg.fa-caret-left
    .form-control#strength-date-datepicker-container
        span#strength-date-datepicker(style="cursor:pointer")
    .input-group-append
        button.btn.btn-info#strength-date-next
            i.fa.fa-lg.fa-caret-right
