.row
    .col-sm-12
        table.table.table-striped.table-condensed.table-responsive#cardio-table
            thead
                tr
                    th.col-xs-6
                        u Exercise
                    th.col-xs-6
            tbody
