ul
    li
        a#drawer-home
            i.fa.fa-fw.fa-lg.fa-home
            = ' '
            span Home
    li
        a#drawer-journals
            i.fa.fa-fw.fa-lg.fa-file-text-o
            = ' '
            span Journals
    li
        a#drawer-schedule
            i.fa.fa-fw.fa-lg.fa-calendar-plus-o
            = ' '
            span Schedule
    li
        a#drawer-calendar
            i.fa.fa-fw.fa-lg.fa-calendar-check-o
            = ' '
            span Calendar
    li
        a#drawer-graphs
            i.fa.fa-fw.fa-lg.fa-bar-chart
            = ' '
            span Graphs
    li
        a#drawer-account
            i.fa.fa-fw.fa-lg.fa-user
            = ' '
            span Account
    li
        a#drawer-logout
            i.fa.fa-fw.fa-lg.fa-sign-out
            = ' '
            span Log Out
