ul
    li.mm-divider Main
    li
        a#drawer-home
            i.fa.fa-fw.fa-lg.fa-home
            = ' '
            span Home
    li.mm-divider Journal
    li
        a#drawer-journals
            i.fa.fa-fw.fa-lg.fa-hand-rock-o
            = ' '
            span Strength Training
    li
        a#drawer-weight
            i.fa.fa-fw.fa-lg.fa-tachometer
            = ' '
            span Weight Logs
    li.mm-divider Misc
    li
        a#drawer-schedule
            i.fa.fa-fw.fa-lg.fa-clock-o
            = ' '
            span Daily Schedule
    li
        a#drawer-timeline
            i.fa.fa-fw.fa-lg.fa-list
            = ' '
            span Timeline
    li
        a#drawer-calendar
            i.fa.fa-fw.fa-lg.fa-calendar-check-o
            = ' '
            span History Calendar
    li.mm-divider User
    li
        a#drawer-profile
            i.fa.fa-fw.fa-lg.fa-id-card-o
            = ' '
            span Profile
    li
        a#drawer-account
            i.fa.fa-fw.fa-lg.fa-user-circle
            = ' '
            span Account
