ul
    li.mm-divider Main
    li
        a#drawer-home
            i.fa.fa-fw.fa-lg.fa-home
            = ' '
            span Home
    li
        a#drawer-journals
            i.fa.fa-fw.fa-lg.fa-book
            = ' '
            span Journals
    li
        a#drawer-schedule
            i.fa.fa-fw.fa-lg.fa-calendar-plus-o
            = ' '
            span Schedule
    li
        a#drawer-calendar
            i.fa.fa-fw.fa-lg.fa-calendar-check-o
            = ' '
            span Calendar
    li
        a#drawer-graphs
            i.fa.fa-fw.fa-lg.fa-bar-chart
            = ' '
            span Graphs
    //li.mm-divider Summary
    //li
        a#drawer-weights
            i.fa.fa-fw.fa-lg.fa-tachometer
            = ' '
            span Weight
    //li
        a#drawer-body
            i.fa.fa-fw.fa-lg.fa-child
            = ' '
            span Body
    li.mm-divider User
    li
        a#drawer-profile
            i.fa.fa-fw.fa-lg.fa-folder-open-o
            = ' '
            span Profile
    li
        a#drawer-account
            i.fa.fa-fw.fa-lg.fa-user
            = ' '
            span Account
    li
        a#drawer-logout
            i.fa.fa-fw.fa-lg.fa-sign-out
            = ' '
            span Log Out
