ul
    li
        a#drawer-home
            i.fa.fa-fw.fa-lg.fa-home
            = ' '
            span Home
    li
        a#drawer-journals
            i.fa.fa-fw.fa-lg.fa-file-text-o
            = ' '
            span Journals
        ul
            li
                a Item 1
            li
                a Item 2
            li
                a Item 3
    li
        a#drawer-graphs
            i.fa.fa-fw.fa-lg.fa-area-chart
            = ' '
            span Graphs
