ul
    li
        a#drawer-home
            i.fa.fa-fw.fa-lg.fa-home
            = ' '
            span Home
    li
        a#drawer-summary
            i.fa.fa-fw.fa-lg.fa-book
            = ' '
            span Overview
    li
        a#drawer-journals
            i.fa.fa-fw.fa-lg.fa-file-text-o
            = ' '
            span Journals
    li
        a#drawer-graphs
            i.fa.fa-fw.fa-lg.fa-area-chart
            = ' '
            span Graphs
    li
        a#drawer-user
            i.fa.fa-fw.fa-lg.fa-user
            = ' '
            span User
        ul
            li
                a Profile
            li
                a Settings
            li
                a Logout