#weight-modal-view
.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li#weight-home
                a Home
            li.active
                span Weight
.row
    .col-md-8.col-center
        .panel.panel-info
            .panel-heading.clearfix
                .pull-right
                    button.btn.btn-xs.btn-primary#weight-detail-add
                        i.fa.fa-fw.fa-plus
                        = ' '
                        span Add
                .panel-title.clearfix
                    i.fa.fa-fw.fa-lg.fa-tachometer
                    = ' '
                    span Weight
            .panel-body
                #weight-date-view
            #weight-table-view
.row
    .col-md-8.col-center
        .panel.panel-info
            .panel-heading.clearfix Entry Calendar
            .panel-body
                #weight-calendar-view
.row
    .col-md-8.col-center
        .panel.panel-info
            .panel-heading
                .panel-title
                    span Progress
            .panel-body
                #weight-graph-view
.row
    .col-md-8.col-center
        .panel.panel-info
            .panel-heading
                .panel-title.clearfix
                    span Summary
            .panel-body
                #weight-summary-view