#weight-modal-view
.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li#weight-home
                a Home
            li.active
                span Weight
                i.fa.fa-fw.fa-lg.fa-tachometer
            .pull-right
                i.fa.fa-fw.fa-lg.fa-question-circle#weight-help(style="cursor:pointer")
.row
    .col-md-8.col-center
        .panel.panel-default
            .panel-heading.clearfix
                .pull-right
                    button.btn.btn-xs.btn-primary#weight-detail-add
                        i.fa.fa-fw.fa-plus
                        = ' '
                        span Log Weight
                h3.panel-title Weight Logs
            .panel-body
                #weight-date-view
            #weight-table-view
.row
    .col-md-8.col-center
        .panel.panel-default
            .panel-body
                #weight-calendar-view
.row
    .col-md-8.col-center
        .panel.panel-default
            .panel-body
                #weight-graph-view
.row
    .col-md-8.col-center
        .panel.panel-default
            .panel-heading
                h3.panel-title Summary
            .panel-body
                #weight-summary-view