.row
    .col-xs-12
        #schedule-modal-view
.row
    .col-xs-12
        .panel.panel-info
            .panel-heading.clearfix
                .pull-right
                    button.btn.btn-xs.btn-primary#schedule-edit
                        i.fa.fa-fw.fa.fa-wrench
                        = ' '
                        span Edit
                .panel-title.clearfix
                    i.fa.fa-fw.fa-lg.fa-calendar-check-o
                    = ' '
                    | Schedule
            .panel-body
                #schedule-widget
            .panel-footer.clearfix
                a.pull-right#schedule-calendar-btn
                    i.fa.fa-lg.fa-calendar-check-o
                a.pull-right#schedule-table-edit
                    i.fa.fa-lg.fa-pencil-square-o
