.row
    .col-xs-12
        .panel.panel-default
            .panel-body
                #schedule-widget
            .panel-footer.clearfix
                a.pull-right#schedule-calendar-btn
                    i.fa.fa-lg.fa-calendar-plus-o
