#strength-modal-view
.row
    .col-md-12
        i.fas.fa-fw.fa-lg.fa-question-circle.breadcrumb-help#home-help(style="cursor:pointer")
        ol.breadcrumb
            li.breadcrumb-item#strength-home
                a Home
            li.breadcrumb-item#strength-journals
                a Strength
            li.breadcrumb-item.active
                span Entry
                i.fa.fa-fw.fa-lg.fa-pencil
.row
    .col-lg-6
        .card
            .card-header
                span.float-right#strength-detail-edit
                    i.fa.fa-fw.fa-lg.fa-wrench(style="color:gray; cursor:pointer;")
                span#strength-title
            .card-body
                .row
                    .col-6#strength-detail-schedule-container
                        button.btn.btn-default#strength-schedule-btn
                            i.far.fa-fw.fa-clock.mr-2
                            span Schedule
                    .col-6#strength-detail-add-container
                        button.btn.btn-primary#strength-detail-add
                            i.fas.fa-fw.fa-edit.mr-2
                            span Add Entry
    .col-lg-6
        .card
            .card-body#strength-history-panel
                #strength-history-view
.row#strength-note-container
    .col-lg-6
        .card
            .card-body
                #strength-note-view
.row
    .col-lg-6
        .card
            .card-header Daily Challenges
            .card-body
                #strength-challenge-view
    .col-lg-6
        .card
            .card-header Performance Level
            .card-body#strength-goal-panel
                #strength-goal-view
.row
    .col-lg-6
        .card
            .card-header Overall Stats
            .card-body
                #strength-calendar-view
    .col-lg-6
        .card
            .card-body
                #strength-graph-view
.row
    .col-lg-6
        .card
            .card-body
                #strength-summary-view
    .col-lg-6
        .card
            .card-header Summary
            .card-body
                #strength-workout-view
