head
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    title WorkoutRank
    ink(type='text/css', rel='stylesheet', href='../style.css')
body
    h1 Unauthorized.
    p
        a(href='/') Go back and login
    p (c) 2016 WorkoutRank. All rights reserved.