/*-----------------------------------------------------------------------------
Body
-----------------------------------------------------------------------------*/
html {
  height: 100%;
  width: 100%;
}
body {
  background: #F8F8FF;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
}
/*-----------------------------------------------------------------------------
#Header
-----------------------------------------------------------------------------*/
#header {
  height: 50px;
}
/*-----------------------------------------------------------------------------
Index landing page
-----------------------------------------------------------------------------*/
#index-section1 {
  max-height: 400px;
}
#index-section1 .carousel-inner {
  max-height: 400px;
  text-align: center;
}
#index-section1 .carousel-inner h1 {
  position: absolute;
  width: 100%;
  background: transparent;
  font-family: Georgia;
  color: white;
}
#index-section1 .carousel-inner > .item > img {
  margin: 0 auto;
}
#index-section1 .carousel-control {
  z-index: 10;
  height: 400px;
}
@media (max-width: 767px) {
  #index-section1 {
    height: 250px;
  }
  #index-section1 .carousel {
    height: 250px;
  }
  #index-section1 .carousel-inner h1 {
    color: transparent;
  }
  #index-section1 .carousel-inner .item > img {
    height: 250px;
  }
  #index-section1 .carousel-control {
    z-index: 10;
    height: 250px;
  }
}
.index-section2 {
  background-color: white;
  min-height: 400px;
  text-align: center;
}
.index-section2 .index-section-image {
  max-width: 100%;
  max-height: 400px;
  width: auto;
  height: auto;
  padding-top: 20px;
}
@media (max-width: 767px) {
  .index-section2 .index-section-image {
    height: 300px;
  }
}
.index-section2 .index-section-text {
  font-size: 1.4em;
  color: grey;
  padding: 15px 0;
}
@media (min-width: 767px) {
  .index-section2 .index-section-text {
    padding: 130px 20px 0;
  }
}
#index-section3 {
  min-height: 400px;
  max-height: 400px;
  text-align: center;
  color: grey;
  padding: 70px 20px;
}
#index-section3 h2 {
  color: grey;
}
#index-section3 h3 {
  color: grey;
}
@media (max-width: 767px) {
  #index-section3 {
    padding: 10px 10px;
    max-height: inherit;
  }
}
#index-section4 {
  min-height: 400px;
  text-align: center;
}
#index-section4 #index-section4-image {
  max-width: 100%;
  max-height: 300px;
  width: auto;
  height: auto;
  padding-top: 80px;
  padding-left: 80px;
}
@media (max-width: 767px) {
  #index-section4 #index-section4-image {
    padding: 20px 0;
    height: 200px;
  }
}
#index-section4 #index-section4-text {
  padding-top: 160px;
  font-size: 1.4em;
  color: grey;
}
@media (max-width: 767px) {
  #index-section4 #index-section4-text {
    padding: 70px 30px;
    height: 260px;
  }
}
#index-section5 {
  min-height: 400px;
  text-align: center;
  background: white;
}
#index-section5 #index-section5-image {
  max-width: 100%;
  max-height: 300px;
  width: auto;
  height: auto;
  padding-top: 80px;
  padding-left: 80px;
}
@media (max-width: 767px) {
  #index-section5 #index-section5-image {
    padding: 0 0 20px 0;
    height: 200px;
  }
}
#index-section5 #index-section5-text {
  padding: 150px 70px;
  font-size: 1.4em;
  color: grey;
}
@media (max-width: 767px) {
  #index-section5 #index-section5-text {
    padding: 30px;
    height: 200px;
  }
}
#index-btn-group-top {
  z-index: 10;
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 250px;
}
#index-btn-group-top button {
  margin: 10px;
  border-radius: 10px;
  border: 2px whitesmoke solid;
}
@media (max-width: 767px) {
  #index-btn-group-top {
    position: relative;
    padding: 0;
  }
}
#index-btn-group-bottom {
  text-align: center;
  background: white;
  height: 300px;
  padding-top: 50px;
}
#index-btn-group-bottom button {
  margin: 15px;
  border-radius: 10px;
  border: 2px whitesmoke solid;
}
/*-----------------------------------------------------------------------------
Content
-----------------------------------------------------------------------------*/
#content {
  padding-top: 10px;
}
@media (min-width: 1200px) {
  #content {
    margin-left: 15%;
    margin-right: 15%;
  }
}
@media (min-device-width: 800px) and (max-width: 1200px) {
  #content {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (max-width: 767px) {
  #content {
    margin-left: 1%;
    margin-right: 1%;
  }
}
/*-----------------------------------------------------------------------------
Footer
-----------------------------------------------------------------------------*/
#footer {
  text-align: center;
  padding-bottom: 10px;
}
/*-----------------------------------------------------------------------------
About
-----------------------------------------------------------------------------*/
#about-view-container {
  padding: 0 10%;
}
/*-----------------------------------------------------------------------------
Feedback
-----------------------------------------------------------------------------*/
#feedback-editor {
  max-height: 150px;
  max-width: 100%;
  height: 150px;
  width: 100%;
}
#feedback-view-container {
  float: none;
  margin: 0 auto;
  padding: 0 10%;
}
/*-----------------------------------------------------------------------------
Page loader
-----------------------------------------------------------------------------*/
#loader-page-spinner {
  position: fixed;
  width: 100%;
  bottom: -20%;
  height: 100%;
  z-index: 99999!important;
  background: transparent;
}
#loader-page-spinner .sk-fading-circle {
  width: 100px;
  height: 100px;
}
#loader-page-spinner .sk-circle:before {
  background-color: #8cb4ef;
}
/*-----------------------------------------------------------------------------1
Login
-----------------------------------------------------------------------------*/
#login-view-container {
  float: none;
  margin: 0 auto;
  text-align: center;
}
/*-----------------------------------------------------------------------------
Signup
-----------------------------------------------------------------------------*/
#signup-view-container {
  float: none;
  margin: 0 auto;
}
#signup-birthday {
  background: white !important;
}
#signup-recaptcha-container {
  width: 300px;
  height: 80px;
}
@media (max-width: 767px) {
  #signup-recaptcha-container {
    margin: 0 auto;
  }
}
#signup-recaptcha {
  position: absolute;
  z-index: 9999!important;
}
@media (max-width: 767px) {
  #signup-recaptcha {
    right: 10px;
  }
}
/*-----------------------------------------------------------------------------
Top Nav Bar
-----------------------------------------------------------------------------*/
.nav-icon {
  height: 20px;
  line-height: 20px;
}
.nav-divider-vertical {
  height: 50px;
  margin: 0 1px;
  border-right: 1px solid #FFF;
  border-left: 1px solid #F2F2F2;
}
#index-nav-logo {
  position: absolute;
  width: 100%;
  text-align: center;
}
#index-nav-logo img {
  margin: auto;
  margin-top: 3px;
  cursor: default;
}
#navbar-logo {
  position: relative;
  width: 43px;
  height: 43px;
  margin-top: 5px;
  cursor: pointer;
}
#navbar-banner {
  position: relative;
  width: 120px;
  height: 20px;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.navbar {
  background: white;
}
/*-----------------------------------------------------------------------------
Page nav
-----------------------------------------------------------------------------*/
.page-nav-btn {
  width: 70px;
  height: 35px;
  text-align: center;
}
/*-----------------------------------------------------------------------------
Left Sliding Menu
-----------------------------------------------------------------------------*/
.mm-menu {
  margin-top: 52px;
  z-index: 9999!important;
}
/*-----------------------------------------------------------------------------
Multiselect
-----------------------------------------------------------------------------*/
.multiselect-button {
  color: black;
  text-align: left;
  background-color: white;
  border: solid 1px lightgray;
  border-radius: 4px;
  box-shadow: none;
}
/*-----------------------------------------------------------------------------
Exercise
-----------------------------------------------------------------------------*/
.exercise-table-view tbody td {
  cursor: pointer;
}
.exercise-select {
  min-width: 25px;
  text-align: center;
}
#exercise-back-home {
  min-width: 70px;
}
/*-----------------------------------------------------------------------------
Strength
-----------------------------------------------------------------------------*/
#strength-table-view tbody tr {
  cursor: pointer;
}
#strength-table-null {
  text-align: center;
}
#strength-graph {
  min-width: 70px;
}
#strength-paginate-list {
  width: 100%;
  margin: auto;
  white-space: nowrap;
  list-style-type: none;
}
#strength-table thead {
  font-weight: 600;
}
.strength-filter-btn {
  height: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.strength-filter-btn i {
  position: relative;
  bottom: 5px;
}
.strength-calendar-td {
  font-weight: bold;
  color: #2B2922;
  background: #ffcc66;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid orange !important;
}
#strength-calendar-ui {
  text-align: center;
}
#strength-calendar-ui .datepicker {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#strength-date-datepicker {
  text-align: center;
  font-size: 18px;
  z-index: 0;
}
#strength-date-prev {
  z-index: 0;
}
#strength-date-next {
  z-index: 0;
}
#strength-table .progress {
  padding-bottom: 0;
  margin-bottom: 0;
}
/*-----------------------------------------------------------------------------
Weight
-----------------------------------------------------------------------------*/
#weight-date-datepicker {
  text-align: center;
  font-size: 18px;
  z-index: 0;
}
#weight-date-prev {
  z-index: 0;
}
#weight-date-next {
  z-index: 0;
}
#weight-calendar-ui {
  text-align: center;
}
#weight-calendar-ui .datepicker {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.weight-calendar-td {
  font-weight: bold;
  color: #2B2922;
  background: #ffcc66;
  margin-right: auto;
  margin-left: auto;
  border: 2px solid orange !important;
}
/*-----------------------------------------------------------------------------
Calendar
-----------------------------------------------------------------------------*/
#calendar-table-edit {
  position: relative;
  top: 2px;
  margin-right: 10px;
}
/*-----------------------------------------------------------------------------
Schedule
-----------------------------------------------------------------------------*/
#schedule-table-edit {
  position: relative;
  top: 2px;
  margin-right: 10px;
}
/*-----------------------------------------------------------------------------
Logs
-----------------------------------------------------------------------------*/
.logs-master-filter-btn {
  width: 200px;
}
/*-----------------------------------------------------------------------------
Home
-----------------------------------------------------------------------------*/
.home-list {
  cursor: pointer;
}
#home-exercise-count {
  background: #75caeb;
}
/*-----------------------------------------------------------------------------
Account
-----------------------------------------------------------------------------*/
#account-container {
  float: none;
  margin: 0 auto;
}
/*-----------------------------------------------------------------------------
Profile
-----------------------------------------------------------------------------*/
#profile-container {
  float: none;
  margin: 0 auto;
}
#profile-weight {
  z-index: 0;
}
.profile-weight-btn {
  z-index: 0!important;
}
/*-----------------------------------------------------------------------------
Custom classes
-----------------------------------------------------------------------------*/
.locder-icon {
  z-index: 1000;
  font-size: 250px;
  color: #FFFFFF;
  color: rgba(0, 0, 0, 0.3);
}
.page-header {
  font-weight: 600;
  letter-spacing: 3px;
}
.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.date-navigate-btn {
  height: 38px;
}
.btn-full-width {
  display: block;
  width: 100%;
}
/*-----------------------------------------------------------------------------
                              End of Document
-----------------------------------------------------------------------------*/
