
/*-----------------------------------------------------------------------------
Content
-----------------------------------------------------------------------------*/

/*
Content padding, to pad body from fixed navbar.
*/

#header{
    height: 30px;
}

#content{
    margin:     50px 75px 0px;
    min-height: 250px;
}

/*
Change margin if viewport gets smaller.
*/


@media (min-width: 1200px) {
    #content{
        margin: 50px 200px 0px;
    }
}

@media (min-device-width: 800px) and (max-width: 1200px){
    #content{
        margin: 50px 120px 0px;
    }
}

@media (max-width: 767px) {
    #content{
        margin: 50px 10px 0px;
    }
}

/*-----------------------------------------------------------------------------
Footer
-----------------------------------------------------------------------------*/

#footer{
    text-align: center;
    margin-top: 50px;
}

/*-----------------------------------------------------------------------------
Nav Bar
-----------------------------------------------------------------------------*/

/*
Vertical divider for nav bar.
*/

.nav-icon{
    height:      20px;
    line-height: 20px;
}

/*
Vertical divider for nav bar.
*/

.divider-vertical {
    height:       50px;
    margin:       0 9px;
    border-left:  1px solid #F2F2F2;
    border-right: 1px solid #FFF;
}


/*-----------------------------------------------------------------------------
Sliding Menu
-----------------------------------------------------------------------------*/

#my-menu{
    box-shadow: none;
    z-index:    2000;
}

/*-----------------------------------------------------------------------------
Multiselect
-----------------------------------------------------------------------------*/

.multiselect-button{
    color:            black;
    background-color: white;
    box-shadow:       none;
    text-align:       left;
    padding-left:     13px;
    border:           solid 1px lightgray;
    border-radius:    4px;
    height:           32px;
}

/*-----------------------------------------------------------------------------
Multiselect
-----------------------------------------------------------------------------*/

#home-content button{
    width:      100%;
    height:     100px;
    text-align: center;
    margin:     10px;
    font-size:  18px;
}

/*-----------------------------------------------------------------------------
                              End of Document
-----------------------------------------------------------------------------*/


