.cardio-goal-label-container
    .col-xs-12
        table
            tr
                td(style="text-align:right")
                    span!= label + ':'
                td(style="text-align:left")
                    b
                        i.cardio-goal-value
            tr
                td(style="text-align:right")
                    span Power Level:
                td(style="text-align:left")
                    span
                        b.cardio-goal-level
                    span
                        i %

.col-xs-12
    .cardio-goal-gauge-container
        canvas.cardio-goal-gauge
