.row
    .col-xs-12
        table.display.responsive.no-wrap#log-table(width='100%')
            thead
                tr
                    th
                    th
                        b Weight
                    th
                        b Rep
            tbody
                tr
                    td Maximum
                    td#log-table-weight-max
                    td#log-table-rep-max
                tr
                    td Average
                    td#log-table-weight-avg
                    td#log-table-rep-avg
                tr
                    td Minimum
                    td#log-table-weight-min
                    td#log-table-rep-min
                tr
                    td Standard Deviation
                    td#log-table-weight-sd
                    td#log-table-rep-sd
                tr
                    td Total Count
                    td#log-table-weight-total
                    td#log-table-rep-total