.row
    .col-xs-12
        table.table.table-condensed.table-hover
            thead
                tr
                    td.col-xs-4
                        b Weight
            tbody
                tr
                    td Max
                    td#log-table-weight-max
                tr
                    td Avg
                    td#log-table-weight-avg
                tr
                    td Min
                    td#log-table-weight-min
.row
    .col-xs-12
        table.table.table-condensed.table-hover
            thead
                tr
                    td.col-xs-4
                        b Reps
            tbody
                tr
                    td Max
                    td#log-table-rep-max
                tr
                    td Avg
                    td#log-table-rep-avg
                tr
                    td Min
                    td#log-table-rep-min
                tr
                    td Started
                    td#log-table-date
.row
    .col-xs-12
        table.table.table-condensed.table-hover
            thead
                tr
                    td.col-xs-4
                        b Summary
            tbody
                tr
                    td Name
                    td#log-table-name
                tr
                    td Muscle
                    td#log-table-muscle