.row
    .col-sm-12
        table.table.table-condensed.table-hover
            thead
                tr
                    td(colspan="2")
                        b Stats
            tbody
                tr
                    td Max Weight
                    td#log-table-weight-max
                tr
                    td Avg Weight
                    td#log-table-weight-avg
                tr
                    td Min Weight
                    td#log-table-weight-min
                tr
                    td Max Rep
                    td#log-table-rep-max
                tr
                    td Avg Rep
                    td#log-table-rep-avg
                tr
                    td Min Rep
                    td#log-table-rep-min
                tr
                    td Started
                    td#log-table-date
.row
    .col-sm-12
        table.table.table-condensed.table-hover
            thead
                tr
                    td(colspan="2")
                        b Summary
            tbody
                tr
                    td Name
                    td#log-table-name
                tr
                    td Muscle
                    td#log-table-muscle