.row
    .col-sm-12
        button.btn.btn-default#exercise-back-home
            i.fa.fa-lg.fa-arrow-left
            = ' '
            i.fa.fa-lg.fa-home
br
.row
    .col-sm-12
        span.lead
            i.fa.fa-fw.fa-lg.fa-heartbeat
            = ' '
            | Exercise
br
.row
    .col-sm-6
        #exercise-input-view
    .col-sm-6
        #exercise-table-view