.row
    .col-xs-3
        button.btn.btn-default.exercise-nav-btn#exercise-strength
            i.fa.fa-fw.fa-lg.fa-shield
            span.hidden-sm.hidden-xs
                = ' '
                | Strength
    .col-xs-3
        button.btn.btn-default.exercise-nav-btn#exercise-endurance
            i.fa.fa-fw.fa-lg.fa-bicycle
            span.hidden-sm.hidden-xs
                = ' '
                | Endurance
    .col-xs-3
        button.btn.btn-default.exercise-nav-btn#exercise-flexibility
            i.fa.fa-fw.fa-lg.fa-heart
            span.hidden-sm.hidden-xs
                = ' '
                | Flexibility
    .col-xs-3
        button.btn.btn-default.exercise-nav-btn#exercise-balance
            i.fa.fa-fw.fa-lg.fa-balance-scale
            span.hidden-sm.hidden-xs
                = ' '
                | Balance
br
.row
    .col-sm-12
        span.lead
            i.fa.fa-fw.fa-lg.fa-heartbeat
            = ' '
            | Exercise
br
.row
    .col-sm-12
        #exercise-input-view
br
.row
    .col-sm-12
        #exercise-table-view