.row
    .col-sm-3
        button.btn.btn-default#exercise-strength
            i.fa.fa-fw.fa-lg.fa-shield
            = ' '
            | Strength
    .col-sm-3
        button.btn.btn-default#exercise-endurance
            i.fa.fa-fw.fa-lg.fa-bicycle
            = ' '
            | Endurance
    .col-sm-3
        button.btn.btn-default#exercise-flexibility
            i.fa.fa-fw.fa-lg.fa-heart
            = ' '
            | Flexibility
    .col-sm-3
        button.btn.btn-default#exercise-balance
            i.fa.fa-fw.fa-lg.fa-balance-scale
            = ' '
            | Balance
br
.row
    .col-sm-12
        span.lead
            i.fa.fa-fw.fa-lg.fa-heartbeat
            = ' '
            | Exercise
br
.row
    .col-sm-12
        #exercise-input-view
br
.row
    .col-sm-12
        #exercise-table-view