ul
    li.mm-divider Main
    li
        a#drawer-home
            i.fa.fa-fw.fa-lg.fa-home
            span &nbsp
            span Home
    li.mm-divider Journal
    li
        a#drawer-journals
            i.fa.fa-fw.fa-lg.fa-hand-rock-o
            span &nbsp
            span Strength Training
    li
        a#drawer-cardios
            i.fa.fa-fw.fa-lg.fa-heartbeat
            span &nbsp
            span Cardio Training
    li
        a#drawer-weight
            i.fa.fa-fw.fa-lg.fa-tachometer
            span &nbsp
            span Weight Logs
    li.mm-divider Misc
    li
        a#drawer-schedule
            i.fa.fa-fw.fa-lg.fa-clock-o
            span &nbsp
            span Daily Schedule
    //li
        a#drawer-timeline
            i.fa.fa-fw.fa-lg.fa-newspaper-o
            span &nbsp
            span Timeline
    li
        a#drawer-calendar
            i.fa.fa-fw.fa-lg.fa-calendar-plus-o
            span &nbsp
            span History Calendar
    li.mm-divider User
    li
        a#drawer-profile
            i.fa.fa-fw.fa-lg.fa-id-card-o
            span &nbsp
            span Profile
    li
        a#drawer-account
            i.fa.fa-fw.fa-lg.fa-user-circle
            span &nbsp
            span Account
