.col-xs-12
    #navigator-bottom-container
        ul
            li#navigator-bottom-weight(data-route="weights")
                i.fa.fa-fw.fa-lg.fa-tachometer
            li#navigator-bottom-schedule(data-route="schedule")
                i.fa.fa-fw.fa-lg.fa-calendar-check-o
            li#navigator-bottom-home(data-route="home")
                i.fa.fa-fw.fa-lg.fa-home
            li#navigator-bottom-cardio(data-route="cardios")
                i.fa.fa-fw.fa-lg.fa-heartbeat
            li#navigator-bottom-journal(data-route="strengths")
                i.fa.fa-fw.fa-lg.fa-hand-rock-o
