.row
    .col-sm-12
        span.lead Welcome! (application is currently under construction)
        p Feel free to try out our website while everything is still in early beta.
br
.row
    .col-sm-12
        // Nav tabs
        ul.nav.nav-tabs(role='tablist')
            li#index-tab-signup(role='presentation')
                a
                    b Sign Up
            li.active#index-tab-login(role='presentation')
                a
                    b Login
        br
        // Tab panes
        .tab-content
            #index-tab-pane-login.tab-pane.active(role='tabpanel')
                .row
                    .col-sm-12
                        form.form-horizontal
                            .form-group
                                label.col-sm-2.control-label(for='index-login-email') Email
                                .col-sm-10
                                    input.form-control#index-login-email(placeholder='Email', required)
                            .form-group
                                label.col-sm-2.control-label(for='index-login-password') Password
                                .col-sm-10
                                    input.form-control#index-login-password(placeholder='Password', required)
                            .form-group
                                .col-sm-12
                                    button.btn.btn-primary.pull-right
                                        i.fa.fa-sign-in
                                        = ' '
                                        | Log In