.row
    .col-sm-12
        .panel.panel-primary
            .panel-heading.clearfix
                .row
                    .col-sm-12
                        span.lead Welcome!
                .row
                    .col-sm-12
                        span Track your workout progress and compare personal records.
            .panel-body
                .row
                    .col-sm-12
                        // Nav tabs
                        ul.nav.nav-tabs(role='tablist')
                            li#tab-signup(role='presentation')
                                a
                                    b Sign Up
                            li.active#tab-login(role='presentation')
                                a
                                    b Login
                        br
                        // Tab panes
                        .tab-content
                            #tab-pane-login.tab-pane.active(role='tabpanel')
                                .row
                                    .col-sm-12
                                        form.form-horizontal#login-form(data-toggle="validator")
                                            .form-group
                                                label.col-sm-2.control-label(for='login-email') Email
                                                .col-sm-10
                                                    input.form-control#login-email(type='email', placeholder='Email', required)
                                                    .help-block.with-errors
                                            .form-group
                                                label.col-sm-2.control-label(for='login-password') Password
                                                .col-sm-10
                                                    input.form-control#login-password(type="text", placeholder='Password', required)
                                                    .help-block.with-errors
                                            .form-group
                                                .col-sm-12
                                                    button.btn.btn-primary.pull-right
                                                        i.fa.fa-sign-in
                                                        = ' '
                                                        | Log In