.modal.fade(role="dialog")#strength-modal-dialog
    .modal-dialog.modal-sm
        .modal-content

            .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Create a new workout

            .modal-body
                form.form-horizontal
                    .form-group
                        .col-xs-12
                            label.control-label(for='strength-modal-muscle') Muscle Targeted
                        .col-xs-12
                            select.form-control#strength-modal-muscle(multiple='multiple')
                    .form-group
                        .col-xs-12
                            label.control-label(for='strength-modal-name') Workout Name
                        .col-xs-12
                            input.form-control#strength-modal-name(type='text' required minlength="1" maxlength="25")
                            .help-block.with-errors
                    .form-group
                        .col-xs-12
                            .checkbox
                                label
                                    input(type='checkbox')#strength-modal-body
                                    | Will Use my body as weights
                    .form-group
                        .col-xs-3
                            label Note
                        .col-xs-9
                            label
                                input#strength-modal-note-enable(type="checkbox")
                        .col-xs-12
                            textarea.hide.form-control#strength-modal-note(type="text", placeholder='Optional')
                    hr
                    .form-group
                        .col-xs-12
                            .pull-right
                                button.btn.btn-default.btn-lg(data-dismiss="modal" type='button') Cancel
                                = ' '
                                button.btn.btn-primary.btn-lg#strength-modal-submit(type="submit")
                                    i.fa.fa-fw.fa-lg.fa-save
                                    = ' '
                                    span save
