br
.row
    .col-xs-12
        table.display.responsive.no-wrap#logs-table(width='100%').table-hover
            thead
                tr
                    th
                        b Workout
                    th
                        b P.R
                    th
                        b Date
                    th
                        b Avg
                    th
                        b Entries
            tbody