table.table.table-striped.table-hover.table-sm#log-table
    thead
        tr
            th
            th Rep
            th Weight (lb)
    tbody
        tr
            td
                b Maximum
            td#log-table-rep-max
            td#log-table-weight-max
        tr
            td
                b Average
            td#log-table-rep-avg
            td#log-table-weight-avg
        tr
            td
                b Minimum
            td#log-table-rep-min
            td#log-table-weight-min
        tr
            td
                b Total Sum
            td#log-table-rep-sum
            td#log-table-weight-sum
