#timeline-modal-view
.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li#timeline-home
                a Home
            li.active
                span timeline
                i.fa.fa-fw.fa-lg.fa-list
.row
    .col-xs-12
        #timeline-view

