#timeline-modal-view
.row
    .col-md-8.col-center
        ol.breadcrumb(style='margin-bottom:5px;')
            li#timeline-home
                a Home
            li.active
                span timeline
                i.fa.fa-fw.fa-lg.fa-list
            .pull-right
                i.fa.fa-fw.fa-lg.fa-question-circle#timeline-help(style="cursor:pointer")
.row
    .col-md-8.col-center
        #timeline-view
        a.infinite-more-link(href='/') Loading...