.row
    .col-md-7.col-center
        ol.breadcrumb
            li#account-home
                a Home
            li.active
                span Account
.row
    .col-md-7.col-center
        .panel.panel-default
            .panel-heading
                h3.panel-title 
                    span Account
            .panel-body
                #account-summary
                .col-xs-12
                    button.btn.btn-warning.pull-right#account-logout
                        i.nav-icon.fas.fa-fw.fa-lg.fa-sign-out-alt
                        span.ml-2 Log Out