.row
    .col-lg-7.col-center
        nav
            ol.breadcrumb
                li.breadcrumb-item#account-home
                    a Home
                li.breadcrumb-item.active
                    span Account
.row
    .col-lg-7.col-center
        .card
            .card-header
                b Account
            .card-body
                #account-summary
                button.btn.btn-warning.float-right#account-logout
                    i.nav-icon.fas.fa-fw.fa-lg.fa-sign-out-alt
                    span.ml-2 Log Out