head
    title Backbone App
    link(rel='stylesheet', href='style.css')
body
    script(type="text/javascript" src="bundle.js" charset="utf-8")
    block content
        #header my header.
        #content content here
footer
    span footer