.row
    .col-sm-8
        .btn-group
            button.btn.btn-default#exercise-table-first
                i.fa.fa-chevron-left
                i.fa.fa-chevron-left
            button.btn.btn-default#exercise-table-prev
                i.fa.fa-chevron-left
            button.btn.btn-default#exercise-table-next
                i.fa.fa-chevron-right
            button.btn.btn-default#exercise-table-last
                i.fa.fa-chevron-right
                i.fa.fa-chevron-right
    .col-sm-4
        .pull-right
            span
                b#exercise-table-currentpage
                = ' '
            span
                b /
                = ' '
            span
                b#exercise-table-lastpage
br
.row
    .col-sm-12
        table.table.table-condensed.table-bordered.table-hover
            thead
                tr
                    td
                        b Name
                    td
                        b Date
                    td
                        b Type
            tbody