.strength-goal-label-container
    .col-xs-12
        table
            tr
                td Minimum:
                td.strength-goal-min
            tr
                td Goal:
                td.strength-goal-max
            tr
                td
                    i Current:
                td
                    i.strength-goal-value
.col-xs-12
    .strength-goal-gauge-container
        canvas.strength-goal-gauge
