.strength-goal-label-container
    .col-xs-12
        table
            tr
                td(style="text-align:right")
                    span!= label + ':'
                td(style="text-align:left")
                    b
                        i.strength-goal-value
            tr
                td(style="text-align:right")
                    span Power Level:
                td(style="text-align:left")
                    span
                        b.strength-goal-level
                    span
                        i %
.col-xs-12
    .strength-goal-gauge-container
        canvas.strength-goal-gauge
