.strength-goal-label-container
    .col-xs-12
        table
            tr
                td #{label}:
                td
                    b
                        i.strength-goal-value
            tr
                td Power Level:
                td
                    span
                        b.strength-goal-level
                    span
                        i %

.col-xs-12
    .strength-goal-gauge-container
        canvas.strength-goal-gauge
