.row
    .col-xs-12
        #index-spinner-view.hide
            .sk-folding-cube
                .sk-cube1.sk-cube
                .sk-cube2.sk-cube
                .sk-cube4.sk-cube
                .sk-cube3.sk-cube
.row
    .col-xs-12
        .panel.panel-default
            .panel-body
                .col-sm-8#test
                    #index-signup-view
                .col-sm-4
                    #index-login-view