.row
    .col-xs-12
        #strength-modal-view
.row
    .col-xs-12
        button.btn.btn-default.page-nav-btn#strength-back
            i.fa.fa-lg.fa-arrow-left
        .pull-right
            button.btn.btn-default.page-nav-btn#strength-add
                i.fa.fa-lg.fa-book
                = ' '
                i.fa.fa.fa-plus
br
.row
    .col-sm-12
        span.lead.page-header
            i.fa.fa-fw.fa-lg.fa-shield
            = ' '
            | Strength Workout
br
.row
    .col-lg-6.col-md-6.col-sm-6.col-xs-12.pull-right
        #strength-filter-view
br
.row
    .col-sm-12
        #strength-table-view
.row
    .col-sm-12
        #strength-paginate-view
