.row
    .col-sm-12
        span.lead My Exercises
br
.row
    .col-sm-12
        table.table
            thead
                tr
                    td Name
                    td Type
            tbody