table.table.table-sm.table-hover.table-striped
    thead
        tr
            th
            th
    tbody
        tr
            td  
                b.float-right Current Weight
            td#body-reduce-current-weight
        tr
            td  
                b.float-right BMI (Body Mass Index)
            td#body-reduce-bmi
        tr
            td  
                b.float-right Maximum
            td#body-reduce-max
        tr
            td  
                b.float-right Minimum
            td#body-reduce-min
        tr
            td  
                b.float-right Average
            td#body-reduce-avg
        tr
            td  
                b.float-right First Entry
            td#body-reduce-first
        tr
            td  
                b.float-right Last Entry
            td#body-reduce-last
        tr
            td  
                b.float-right Total Logs
            td#body-reduce-count
