.col-xs-12
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            // Brand and toggle get grouped for better mobile display
            .navbar-header
                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#nav-collapse-btn")#nav-main-dropdown
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a#navbar-brand.navbar-brand App
                    = ' '
                    i.fa.fa-lg.fa-navicon
                    = ' '
                    i.fa.fa-lg.fa-angle-double-right
            // Collect the nav links, forms, and other content for toggling
            #nav-collapse-btn.collapse.navbar-collapse
                .col-sm-6.col-xs-12.pull-right
                    ul.nav.navbar-nav.navbar-right
                        li(data-toggle="collapse", data-target=".nav-collapse")#nav-home
                            a.nav-collapse-item
                                i.nav-icon.fa.fa-fw.fa-2x.fa-home
                                span.hidden-sm.hidden-md.hidden-lg
                                    = ' '
                                    | Home
                        li.divider-vertical.hidden-xs
                        li.dropdown
                            a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false")
                                i.fa.fa-cogs.fa-lg
                                = ' '
                                i.fa.fa-caret-down
                            ul.dropdown-menu(role="menu")
                                li
                                    a.nav-collapse-item
                                        i.fa.fa-fw.fa-lg.fa-user
                                        = ' '
                                        | My Profile
                                li
                                    a.nav-collapse-item
                                        i.fa.fa-fw.fa-lg.fa-cog
                                        = ' '
                                        | Settings
                                li
                                    a.nav-collapse-item
                                        i.fa.fa-fw.fa-lg.fa-question
                                        = ' '
                                        | Help
                                li
                                    a.nav-collapse-item
                                        i.fa.fa-fw.fa-lg.fa-ambulance
                                        = ' '
                                        | Report a Problem
                                li.divider
                                li
                                    a.nav-collapse-item
                                        i.fa.fa-fw.fa-lg.fa-sign-out
                                        = ' '
                                        | Sign Out
nav#my-menu.mm-light
    ul
        li#nav-side-home
            a
                i.fa.fa-fw.fa-lg.fa-home
                | &nbsp Home
        li
            a#nav-exercise
                i.fa.fa-fw.fa-heartbeat
                | &nbsp Exercises
                ul
                    li
                        a
                            i.fa.fa-fw.fa-lg.fa-shield
                            | &nbsp Strength
                    li
                        a
                            i.fa.fa-fw.fa-lg.fa-bicycle
                            | &nbsp Endurance
                    li
                        a
                            i.fa.fa-fw.fa-lg.fa-heart
                            | &nbsp Flexibility
                    li
                        a
                            i.fa.fa-fw.fa-lg.fa-balance-scale
                            | &nbsp Balance
        li
            a#nav-schedule
                i.fa.fa-fw.fa-lg.fa-calendar
                | &nbsp Schedule
        li
            a#nav-stat
                i.fa.fa-fw.fa-lg.fa-line-chart
                | &nbsp Stats
        li
            a#nav-log
                i.fa.fa-fw.fa-lg.fa-area-chart
                | &nbsp Logs
        li
            a#nav-contacts
                i.fa.fa-fw.fa-lg.fa-group
                | &nbsp Multiplayers
            ul
                li
                    a
                        i.fa.fa-fw.fa-lg.fa-th-list
                        | &nbsp Friends
                li
                    a
                        i.fa.fa-fw.fa-lg.fa-trophy
                        | &nbsp Ranking
                li
                    a#nav-chat
                        i.fa.fa-fw.fa-lg.fa-comments-o
                        | &nbsp Chat