.col-xs-12
    nav.navbar.navbar-fixed-top.navbar-default
        .container-fluid
            .navbar-header

                // Left side icons.

                a.navbar-brand
                    i.fa.fa-lg.fa-navicon#navbar-brand

                // Right side icons.

                button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#nav-collapse-menu")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar

            .collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li.nav-divider-vertical.hidden-xs
                    li.nav-home.hidden-xs
                        a
                            i.nav-collapse-item.nav-icon.fa.fa-fw.fa-2x.fa-home
                    li.nav-divider-vertical.hidden-xs
                    li.nav-strength.hidden-xs
                        a
                            i.nav-icon.fa.fa-fw.fa-2x.fa-shield
                    li.nav-divider-vertical.hidden-xs
                    li.nav-log.hidden-xs
                        a
                            i.nav-icon.fa.fa-fw.fa-2x.fa-area-chart
                    li.nav-divider-vertical.hidden-xs
                    li.hidden-xs
                        a
                            b#nav-username USERNAME
                    li.nav-divider-vertical.hidden-xs
                    li.dropdown
                        a.dropdown-toggle(href="#", data-toggle="dropdown", role="button", aria-expanded="false")
                            i.hidden-xs.fa.fa-lg.fa-caret-down
                        ul.dropdown-menu(role="menu")
                            li
                                a
                                    i.fa.fa-fw.fa-lg.fa-user
                                    = ' '
                                    | My Profile
                            li
                                a
                                    i.fa.fa-fw.fa-lg.fa-cog
                                    = ' '
                                    | Settings
                            li.divider
                            li
                                a
                                    i.fa.fa-fw.fa-lg.fa-question
                                    = ' '
                                    | Help
                            li
                                a
                                    i.fa.fa-fw.fa-lg.fa-ambulance
                                    = ' '
                                    | Report a Problem
                            li.divider
                            li
                                a
                                    i.fa.fa-fw.fa-lg.fa-sign-out
                                    = ' '
                                    | Sign Out



            #nav-collapse-menu.collapse.navbar-collapse
                ul.visible-xs.list-group
                    li.list-group-item.nav-home
                        i.nav-icon.fa.fa-fw.fa-lg.fa-home
                        span
                            = ' '
                            | Home
                    li.list-group-item.nav-stat
                        i.nav-icon.fa.fa-fw.fa-lg.fa-line-chart
                        span
                            = ' '
                            | Personal Record
                    li.list-group-item.nav-strength
                        i.nav-icon.fa.fa-fw.fa-lg.fa-shield
                        span
                            = ' '
                            | Strength Workout
                    li.list-group-item.nav-log
                        i.nav-icon.fa.fa-fw.fa-lg.fa-area-chart
                        span
                            = ' '
                            | Strength Log
                    li.list-group-item
                        i.fa.fa-fw.fa-lg.fa-user
                        = ' '
                        | My Profile
                    li.list-group-item
                        i.fa.fa-fw.fa-lg.fa-cog
                        = ' '
                        | Settings
                    li.list-group-item
                        i.fa.fa-fw.fa-lg.fa-sign-out
                        = ' '
                        | Sign Out

// Sliding left menu

nav#my-menu.mm-light
    ul
        li#side-nav-side-home
            a
                i.fa.fa-fw.fa-lg.fa-home
                | &nbsp Home
        li
            a#side-nav-exercise
                i.fa.fa-fw.fa-heartbeat
                | &nbsp Exercises
                ul
                    li
                        a
                            i.fa.fa-fw.fa-lg.fa-shield
                            | &nbsp Strength
                    li
                        a
                            i.fa.fa-fw.fa-lg.fa-bicycle
                            | &nbsp Endurance
                    li
                        a
                            i.fa.fa-fw.fa-lg.fa-heart
                            | &nbsp Flexibility
                    li
                        a
                            i.fa.fa-fw.fa-lg.fa-balance-scale
                            | &nbsp Balance
        li
            a#side-nav-schedule
                i.fa.fa-fw.fa-lg.fa-calendar
                | &nbsp Schedule
        li
            a#side-nav-stat
                i.fa.fa-fw.fa-lg.fa-line-chart
                | &nbsp Stats
        li
            a#side-nav-log
                i.fa.fa-fw.fa-lg.fa-area-chart
                | &nbsp Logs
        li
            a#side-nav-contacts
                i.fa.fa-fw.fa-lg.fa-group
                | &nbsp Multiplayers
            ul
                li
                    a
                        i.fa.fa-fw.fa-lg.fa-th-list
                        | &nbsp Friends
                li
                    a
                        i.fa.fa-fw.fa-lg.fa-trophy
                        | &nbsp Ranking
                li
                    a#side-nav-chat
                        i.fa.fa-fw.fa-lg.fa-comments-o
                        | &nbsp Chat