.input-group
    span.input-group-btn
        button.btn.btn-info.date-navigate-btn#weight-date-prev
            i.fa.fa-lg.fa-caret-left
    input.form-control#weight-date-datepicker(type="text" readonly)
    span.input-group-btn
        button.btn.btn-info.date-navigate-btn#weight-date-next
            i.fa.fa-lg.fa-caret-right
