.row
    .col-sm-12
        table.table#account-summary-form
            tbody
                tr
                    td
                        b.float-right Username
                    td#account-summary-username
                tr
                    td
                        b.float-right Email
                    td#account-summary-email