.row
    .col-sm-12
        table.table.table-condensed.table-hover
            thead
                tr
                    td(colspan="2")
                        b Stats
            tbody
                tr
                    td Weight Max
                    td#log-table-weight-max
                tr
                    td Weight Avg
                    td#log-table-weight-avg
                tr
                    td Weight Min
                    td#log-table-weight-min
                tr
                    td Rep Max
                    td#log-table-rep-max
                tr
                    td Rep Avg
                    td#log-table-rep-avg
                tr
                    td Rep Min
                    td#log-table-rep-min
                tr
                    td Started
                    td#log-table-date
.row
    .col-sm-12
        table.table.table-condensed.table-hover
            thead
                tr
                    td(colspan="2")
                        b Summary
            tbody
                tr
                    td Name
                    td#log-table-name
                tr
                    td Muscle
                    td#log-table-muscle