.row
    .col-sm-12
        span
            b Go to exercise
br
.row
    .col-sm-12
        form.form-horizontal
            .form-group
                .col-sm-12
                    select.form-control#exercise-type
            .form-group
                .col-sm-12
                    button.btn.btn-success.pull-right#exercise-go
                        | Go
                        = ' '
                        i.fa.fa-lg.fa-arrow-circle-right
