.row
    .col-sm-12
        form.form-horizontal
            .form-group
                label.col-sm-2.control-label(for='exercise-type') Type
                .col-sm-10
                    select.form-control#exercise-type
            .form-group
                .col-sm-12
                    button.btn.btn-success.pull-right#exercise-go
                        | Go
                        = ' '
                        i.fa.fa-lg.fa-arrow-circle-right
