.row
    .col-sm-12
        span.lead Add new Exercise
br
.row
    .col-sm-12
        form.form-horizontal
            .form-group
                label.col-sm-2.control-label(for='exercise-name') Name
                .col-sm-10
                    input.form-control#exercise-name(required)
            .form-group
                label.col-sm-2.control-label(for='exercise-type') Type
                .col-sm-10
                    select.form-control#exercise-type
            .form-group
                label.col-sm-2.control-label(for='exercise-note') Note
                .col-sm-10
                    input.form-control#exercise-note
            .form-group
                .col-sm-12
                    button.btn.btn-primary.pull-right
                        i.fa.fa-plus
                        = ' '
                        | Add