td.strength-table-td-remove(style="text-align:center;")
    i.fa.fa-fw.fa-lg.fa-times-circle(style="cursor:pointer;")
td
    b.strength-table-td-time
td
    span.strength-table-td-growth
    span
        b.strength-table-td-weight
    .row
        span.strength-table-td-change
        = ' '
        span.strength-table-td-percent
