#index-nav-container
    img(src='./images/logo.png')#index-nav-logo
    img(src='./images/banner.png')#index-nav-banner
    button.btn.btn-success(type="button")#index-nav-signup
        i.fa.fa-fw.fa-lg.fa-user
        span &nbsp
        | Sign Up
    span &nbsp
    button.btn.btn-primary(type="button")#index-nav-login
        i.fa.fa-fw.fa-lg.fa-sign-in
        span &nbsp
        | Login