.modal.fade(role="dialog")
    .modal-dialog.modal-sm
        .modal-content

            .modal-header
                h4.modal-title Add weight entry
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;

            .modal-body
                form.form-horizontal
                    #weight-modal-basic.tab-pane.active(role='tabpanel')
                        .form-group.form-row
                            label.form-control-label
                                b Timestamp
                            p.form-control-static#weight-modal-timestamp
                        .form-group.form-row
                            label.form-control-label
                                b Weight
                            input.form-control.form-control-sm#weight-modal-weight(type="number", step="0.1" placeholder=0 required)
                        .form-group.form-row
                            .checkbox
                                label
                                    input.mr-2#weight-modal-note-enable(type='checkbox')
                                    | Add note
                            textarea.hide.form-control.form-control-sm#weight-modal-note(placeholder='Optional' minlength="1" maxlength="250")
            .modal-footer
                button.btn.btn-default.mr-2(data-dismiss="modal" type='button') Cancel
                button.btn.btn-primary(type="submit") Save
