.row(style="text-align:center")
    .col-xs-12
        #strength-challenge-help
            h4(style="color:#8484FF;") For the first day of this exercise, do as much as you can. A challenge will be created tomorrow.
.row(style="text-align:center")#strength-challenges
    
    
    table.table.table-sm
        thead
            th Level
            th Goal Rep
            th Goal Weight
        tbody
            tr
                td
                    i.fa.fa-fw.fa-lg.fa-trophy(style="color:#CD7F32")
                td
                    u
                        b#strength-challenge-rep-bronze
                td
                    span.mr-1.strength-challenge-weight &#8805
                    u.mr-1
                        b#strength-challenge-weight-bronze
                    span lbs
            tr
                td
                    i.fa.fa-fw.fa-lg.fa-trophy(style="color:#C0C0C0")
                td
                    u
                        b#strength-challenge-rep-silver
                td
                    span.mr-1.strength-challenge-weight &#8805
                    u.mr-1
                        b#strength-challenge-weight-silver
                    span lbs
            tr
                td
                    i.fa.fa-fw.fa-lg.fa-trophy(style="color:#FFD700")
                td
                    u
                        b#strength-challenge-rep-gold
                td
                    span.mr-1.strength-challenge-weight &#8805
                    u.mr-1
                        b#strength-challenge-weight-gold
                    span lbs