
.row
    .col-xs-6
        label.pull-right Current
    .col-xs-6
        p#body-reduce-current-weight
.row
    .col-xs-6
        label.pull-right BMI
    .col-xs-6
        p#body-reduce-bmi
hr
.row
    .col-xs-6
        label.pull-right Maximum
    .col-xs-6
        p#body-reduce-max
.row
    .col-xs-6
        label.pull-right Minimum
    .col-xs-6
        p#body-reduce-min
.row
    .col-xs-6
        label.pull-right Average
    .col-xs-6
        p#body-reduce-avg
hr
.row
    .col-xs-6
        label.pull-right First Entry
    .col-xs-6
        p#body-reduce-first
.row
    .col-xs-6
        label.pull-right Last Entry
    .col-xs-6
        p#body-reduce-last
.row
    .col-xs-6
        label.pull-right Total Logs
    .col-xs-6
        span#body-reduce-count
