.modal.fade(role="dialog")#calendar-modal-dialog
    .modal-dialog
        .modal-content

            .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Edit weekly schedule

            .modal-body
                span.help-block Assign which muscle group to work on for each day. Then the schedule will automatically be populated with those associated workouts.
                hr
                form.form-horizontal
                    .form-group
                        label.col-sm-2.control-label(for='calendar-modal-sunday') Sunday
                        .col-sm-10
                            select.form-control#calendar-modal-sunday(multiple="multiple")
                    .form-group
                        label.col-sm-2.control-label(for='calendar-modal-monday') Monday
                        .col-sm-10
                            select.form-control#calendar-modal-monday(multiple="multiple")
                    .form-group
                        label.col-sm-2.control-label(for='calendar-modal-tuesday') Tuesday
                        .col-sm-10
                            select.form-control#calendar-modal-tuesday(multiple="multiple")
                    .form-group
                        label.col-sm-2.control-label(for='calendar-modal-wednesday') Wednesday
                        .col-sm-10
                            select.form-control#calendar-modal-wednesday(multiple="multiple")
                    .form-group
                        label.col-sm-2.control-label(for='calendar-modal-thursday') Thursday
                        .col-sm-10
                            select.form-control#calendar-modal-thursday(multiple="multiple")
                    .form-group
                        label.col-sm-2.control-label(for='calendar-modal-friday') Friday
                        .col-sm-10
                            select.form-control#calendar-modal-friday(multiple="multiple")
                    .form-group
                        label.col-sm-2.control-label(for='calendar-modal-saturday') Saturday
                        .col-sm-10
                            select.form-control#calendar-modal-saturday(multiple="multiple")
                    hr
                    br
                    .form-group
                        .col-xs-12
                            .pull-right
                                button.btn.btn-default.btn-lg(data-dismiss="modal" type='button') Cancel
                                = ' '
                                button.btn.btn-primary.btn-lg#calendar-modal-submit(type="submit")
                                    i.fa.fa-fw.fa-lg.fa-save
                                    = ' '
                                    span save
                    br
                    br
