.row
    .col-xs-12
        #cardio-modal-view
.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li#cardio-home
                a Home
            li.active#cardio-journals
                span Cardio
                i.fa.fa-fw.fa-lg.fa-book
            .pull-right
                i.fa.fa-fw.fa-lg.fa-question-circle#cardio-help(style="cursor:pointer")
.row
    .col-sm-12
        .panel.panel-default
            .panel-heading.clearfix
                .pull-right
                    button.btn.btn-xs.btn-primary#cardio-add
                        i.fa.fa-fw.fa.fa-plus
                        = ' '
                        span Add Exercise
                .pull-right
                    #cardio-filter-view
                h3.panel-title Cardio Training
            .panel-body
                #cardio-table-view
