.row
    .col-xs-12
        #strength-modal-view
.row
    .col-sm-12
        span.lead.page-header
            i.fa.fa-fw.fa-lg.fa-shield
            = ' '
            | Workout Logs
br
.row
    .col-md-7
        .pull-right
            #strength-filter-view
.row
    .col-md-7
        #strength-table-view
.row
    .col-md-7
        #strength-paginate-view
