.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li#graphs-home
                a Home
            li.active
                span Graphs
.row
    .col-xs-12
        #logs-graphs-view