.row
    .col-xs-12
        .panel.panel-primary
            .panel-heading
                h3.panel-title
                    i.fa.fa-fw.fa-lg.fa-area-chart
                    = ' '
                    | Graphs
            .panel-body
                #logs-table-view