.col-md-8.col-center
    .panel.panel-default
        .panel-body
            .row
                .col-xs-6
                    i.fa.fa-fw.fa-lg.fa-tachometer
                    = ' '
                    b Weight
                .col-xs-6
                    span.pull-right.timeline-weight-date
            br
            .row(style="text-align:center;")
                .col-xs-6
                    span.timeline-weight-avg
                .col-xs-6
                    .col-xs-12
                        span Weight
                        = ' '
                        span
                            b.timeline-weight-value
                        = ' '
                        | lb
                        .row
                            span.timeline-weight-growth
                            span.timeline-weight-change
            .row
                .col-xs-12
                    span.timeline-weight-note