.col-md-8.col-center
    .panel.panel-default
        .panel-body
            .row
                .col-xs-6
                    span.timeline-weight-date
                .col-xs-6
                    span Weight at
                    = ' '
                    span
                        b.timeline-weight-value
            hr
            .row
                .col-xs-6
                    span.timeline-weight-note