.panel.panel-default
    .panel-body
        .row
            .col-xs-12
                a Thanh Huynh
        .row
            .col-xs-12
                span.timeline-weight-date
        hr
        .row
            .col-xs-6
                span Measured weight at
            .col-xs-6
                span.timeline-weight-value