.modal.fade(role="dialog")
    .modal-dialog.modal-sm
        .modal-content

            .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Add a new session

            .modal-body
                form.form-horizontal
                    // Nav tabs
                    ul.nav.nav-tabs(role='tablist')
                        li.active(role='presentation')
                            a(href='#strength-modal-basic' aria-controls='basic', role='tab', data-toggle='tab')
                                i.fa.fa-fw.fa-lg.fa-pencil
                                = ' '
                                | Basic
                        li(role='presentation')
                            a(href='#strength-modal-advance' aria-controls='advance', role='tab', data-toggle='tab')
                                i.fa.fa-fw.fa-lg.fa-cogs
                                = ' '
                                | Optional

                    br

                    // Tab panes

                    .tab-content

                        // Basic

                        #strength-modal-basic.tab-pane.active(role='tabpanel')
                            .form-group
                                .col-xs-12
                                    label.control-label Weight
                                .col-xs-12
                                    input.form-control#strength-modal-weight(type="number", placeholder=0)
                            .form-group
                                .col-xs-12
                                    label.control-label Reps
                                .col-xs-12
                                    input.form-control#strength-modal-rep(type="number", placeholder=0)

                        // Advance

                        #strength-modal-advance.tab-pane(role='tabpanel')
                            .form-group
                                .col-xs-12
                                    div(style='overflow:hidden;')
                                        .form-group
                                            .row
                                                .col-xs-12
                                                    #strength-modal-date
                            .form-group
                                .col-xs-12
                                    label.control-label(for='strength-modal-note') Note
                                .col-xs-12
                                    textarea.form-control#strength-modal-note
                    hr
                    .form-group
                        .pull-right
                            .col-xs-12
                                button.btn.btn-default.btn-lg(data-dismiss="modal" type='button') Cancel
                                = ' '
                                button.btn.btn-primary.btn-lg(type="submit")
                                    i.fa.fa-fw.fa-lg.fa-save
                                    = ' '
                                    span save