td.cardio-table-td-remove(style="text-align:center; cursor:pointer;")
    i.fa.fa-fw.fa-lg.fa-times-circle(style="cursor:pointer;")
td
    b.cardio-table-td-time
td
    span.cardio-table-td-rep-growth
    span
        b.cardio-table-td-rep
    .row
        span.cardio-table-td-rep-change
        = ' '
        span.cardio-table-td-rep-percent
td
    b.cardio-table-td-intensity
td
    b.cardio-table-td-speed