.row(style="text-align:center;")
    .col-sm-12
        table.table.table-condensed
            thead
                tr
                    td.col-xs-1
                    td
                        u
                            h4 Time
                    td
                        u
                            h4 Duration
                    td
                        u
                            h4 Speed
                    td
                        u
                            h4 Intensity
            tbody