.row
    .col-xs-12
        button.btn.btn-default#strength-back
            i.fa.fa-lg.fa-arrow-left
            = ' '
            i.fa.fa-lg.fa-shield
        .pull-right
            button.btn.btn-default#strength-log
                i.fa.fa-lg.fa-area-chart
                = ' '
                i.fa.fa-lg.fa-arrow-right
br
.row
    .col-sm-12
        span.lead
            i.fa.fa-fw.fa-lg.fa-child
            = ' '
            span#strength-header
br
.row
    .col-sm-6
        .row
            .col-sm-12
                #strength-input-view
    .col-sm-6
        .row
            .col-sm-12
                #strength-table-view