#strength-modal-view
.row
    .col-xs-12
        button.btn.btn-default.page-nav-btn#strength-back
            i.fa.fa-lg.fa-arrow-left
            = ' '
            i.fa.fa-lg.fa-shield.hidden-xs
        .pull-right
            button.btn.btn-default.page-nav-btn#strength-detail-add
                i.fa.fa-lg.fa-file-text-o
                = ' '
                i.fa.fa.fa-plus
br
.row
    .col-sm-12
        span.lead.page-header
            i.fa.fa-fw.fa-lg.fa-child
            = ' '
            span#strength-header
br
.row
    .col-sm-6
        #strength-date-view
br
.row
    .col-sm-12
        #strength-table-view