br
.row
    .col-xs-12
        i.fa.fa-fw.fa-lg.fa-copyright
        span 2017 WorkoutRank.com
.row
    .col-xs-12
        #footer-navigate
            a#footer-feedback
                i.fa.fa-fw.fa-lg.fa-envelope
                b Feedback
            span &nbsp
            span |
            span &nbsp
            a#footer-home
                i.fa.fa-fw.fa-lg.fa-home
                b Home
br