hr
.row
    .col-xs-12
        a.fa-stack.fa-lg
            i.fa.fa-square-o.fa-stack-2x
            i.fa.fa-facebook.fa-stack-1x
        a.fa-stack.fa-lg
            i.fa.fa-square-o.fa-stack-2x
            i.fa.fa-instagram.fa-stack-1x
        a.fa-stack.fa-lg
            i.fa.fa-square-o.fa-stack-2x
            i.fa.fa-twitter.fa-stack-1x
        a.fa-stack.fa-lg
            i.fa.fa-square-o.fa-stack-2x
            i.fa.fa-google-plus.fa-stack-1x
.row
    .col-xs-12
        span (c) 2016 WorkoutRank