//
    hr
    .row
        .col-xs-12
            span
                b Share Us
    .row
        .col-xs-12
            a(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//workoutrank.com/")
                i.fa.fa-fw.fa-lg.fa-facebook
            = ' '
            a(target="_blank" href='https://plus.google.com/share?url=http%3A//workoutrank.com/')
                i.fa.fa-fw.fa-lg.fa-google-plus
            = ' '
            a(target="_blank" href='https://twitter.com/home?status=http%3A//workoutrank.com/')
                i.fa.fa-fw.fa-lg.fa-twitter
br
.row
    .col-xs-12
        i.fa.fa-fw.fa-lg.fa-copyright
        = ' '
        span 2017 WorkoutRank.com
.row
    .col-xs-12
        #footer-navigate
            //
                a#footer-about
                    i.fa.fa-fw.fa-lg.fa-info-circle
                    b About
                = ' '
                span |
                = ' '
            a#footer-feedback
                i.fa.fa-fw.fa-lg.fa-envelope
                b Feedback
            = ' '
            span |
            = ' '
            a#footer-home
                i.fa.fa-fw.fa-lg.fa-home
                b Home
br