.row
    .col-xs-12
        .panel.panel-default
            .panel-body
                .col-sm-8#test
                    #index-signup-view
                .col-sm-4
                    #index-login-view