#index-btn-group-top
    .row
        .col-xs-12
            button.btn.btn-lg.btn-success.index-signup-btn(type="button")
                i.fa.fa-fw.fa-lg.fa-user
                = ' '
                | Sign Up
            button.btn.btn-lg.btn-primary.index-login-btn(type="button")
                i.fa.fa-fw.fa-lg.fa-sign-in
                = ' '
                | Login
.row
    .col-xs-12
        #index-section1
            #myCarousel.carousel.slide(data-ride='carousel')
                // Indicators
                ol.carousel-indicators
                    li.active(data-target='#myCarousel', data-slide-to='0')
                    li(data-target='#myCarousel', data-slide-to='1')
                    li(data-target='#myCarousel', data-slide-to='2')
                // Wrapper for slides
                .carousel-inner(role='listbox')
                    .item.active
                        h1 Smart fitness journal and scheduler.
                        img(src='images/calendar_macbook.png')
                    .item
                        h1 View performance graphs to track progress.
                        img(src='images/graphs_blue.png')
                    .item
                        h1 Let us be your go to app for recording daily sessions.
                        img(src='images/responsive_blue.png')
                // Left and right controls
                a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                    span.sr-only Previous
                a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                    span.sr-only Next
.row
    .index-section2.col-lg-6
        .col-sm-6
            .index-section-text
                h3
                    i.fa.fa-fw.fa-lg.fa-magic
                    = ' '
                    | Make working out fun again
                span Complete goals and challenges as you keep track of your daily gains. In addition, let us take out the guessing game of what to do next by relying on us to do that for you.
        .col-sm-6
            img(src='images/entry_phone.png').index-section-image
    .index-section2.col-lg-6
        .col-sm-6
            img(src='images/data_phone.png').index-section-image
        .col-sm-6
            .index-section-text
                h3
                    i.fa.fa-fw.fa-lg.fa-bar-chart-o(style="color:#14e190;")
                    = ' '
                    | Performance Graph
                span Knowledge is key. Compare workout sessions with interactive graphs. View data summary of your personal records and various statistics.

.row
    #index-section6
        .col-sm-6
            img(src='images/entryrank.png')#index-section6-image
        .col-sm-6
            #index-section6-text
                h3
                    i.fa.fa-fw.fa-lg.fa-trophy
                    = ' '
                    | Ranking System
                span Earn trophies each day as you complete a new goal that is specially tailored for you to maximize your gains. Every session is evaluated and ranked against past performances. Easily distinguish how well you did with our instant feedback.
.row
    #index-section5
        .col-sm-6
            #index-section5-text
                h3
                    i.fa.fa-fw.fa-lg.fa-calendar-plus-o
                    = ' '
                    | Workout Scheduler
                span Use our scheduler to see what workout to do next based on assigned muscle group to target for that day. Personalize your training schedule to best fit your need.
        .col-sm-6
            img(src='images/duo_tablets.png')#index-section5-image
.row
    #index-section7
        .col-sm-6
            #index-section7-text
                h3
                    i.fa.fa-fw.fa-lg.fa-book
                    = ' '
                    | Smart Journal
                span What good is journal keeping if you cannot make use of the information. With our smart journal, you can easily pin point which workout is lacking and focus on that. We'll do all the remembering so you won't have to.
        .col-sm-6
            img(src='images/journalmaster.png')#index-section7-image

#index-btn-group-bottom
    .row
        .col-xs-12
            h3
                i.fa.fa-fw.fa-lg.fa-key
                = ' '
                | Still on the fence about signing up? Go for a test drive.
            button.btn.btn-lg.btn-info.index-try-btn(type="button")
                i.fa.fa-fw.fa-lg.fa-key
                = ' '
                | Try Demo
    .row
        .col-xs-12
            p If you like what you see so far, create an account then Log In.
            button.btn.btn-lg.btn-success.index-signup-btn(type="button")
                i.fa.fa-fw.fa-lg.fa-user
                = ' '
                | Sign Up
            button.btn.btn-lg.btn-primary.index-login-btn(type="button")
                i.fa.fa-fw.fa-lg.fa-sign-in
                = ' '
                | Login