#index-btn-group-top
    .row
        .col-xs-12
            button.btn.btn-lg.btn-success.index-signup-btn(type="button")
                i.fa.fa-fw.fa-lg.fa-user
                = ' '
                | Sign Up
            button.btn.btn-lg.btn-primary.index-login-btn(type="button")
                i.fa.fa-fw.fa-lg.fa-sign-in
                = ' '
                | Login
.row
    .col-xs-12
        #index-section1
            #myCarousel.carousel.slide(data-ride='carousel')
                // Indicators
                ol.carousel-indicators
                    li.active(data-target='#myCarousel', data-slide-to='0')
                    li(data-target='#myCarousel', data-slide-to='1')
                    li(data-target='#myCarousel', data-slide-to='2')
                // Wrapper for slides
                .carousel-inner(role='listbox')
                    .item.active
                        h1 Smart Fitness Journal and Scheduler
                        img(src='images/calendar_macbook.png')
                    .item
                        h1 Track Progress and Performances
                        img(src='images/graphs_blue.png')
                    .item
                        h1 Sign Up for a Free Account
                        img(src='images/responsive_blue.png')
                // Left and right controls
                a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                    span.sr-only Previous
                a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                    span.sr-only Next
.row
    .index-section(style="background-color:white;")
        .col-sm-6
            .index-section-text
                h3
                    i.fa.fa-fw.fa-lg.fa-fire(style="color:red;")
                    = ' '
                    | Daily Challenges
                span Each day a new challenge is given for you to beat. Watch as your power level is measured after each log. Easily distinguish how well you did with our instant feedback.
        .col-sm-6
            img.index-section-image(src='images/challenge.png')
.row
    .index-section
        .col-sm-6
            img.index-section-image(src='images/entryrank.png')
        .col-sm-6
            .index-section-text
                h3
                    i.fa.fa-fw.fa-lg.fa-trophy(style="color:gold;")
                    = ' '
                    | Ranking System
                span Earn trophies daily as you complete a new goal that is specifically tailored for you to maximize your gains. WorkoutRank will adapt to your training routine. Every session is evaluated and ranked against past performances.
.row
    .index-section(style="background-color:white;")
        .col-sm-6
            .index-section-text
                h3
                    i.fa.fa-fw.fa-lg.fa-bar-chart(style="color:#14e190;")
                    = ' '
                    | Track Progress
                span Knowledge is key. Compare workout sessions with interactive graphs. View data summary of your performances and various statistics.
        .col-sm-6
            img.index-section-image(src='images/data_phone.png')
.row
    .index-section
        .col-sm-6
            img.index-section-image(src='images/scheduler.png')
        .col-sm-6
            .index-section-text
                h3
                    i.fa.fa-fw.fa-lg.fa-calendar-plus-o(style="color:#61c5b6;")
                    = ' '
                    | Workout Scheduler
                span Use our scheduler to see what workout to do next based on assigned muscle group to target for that day. Personalize your training schedule to best fit your need.
.row
    .index-section(style="background-color:white;")
        .col-sm-6
            .index-section-text
                h3
                    i.fa.fa-fw.fa-lg.fa-mobile(style="color:#6699cc;")
                    = ' '
                    | Weightlifting Log
                span Great tool for every bodybuilders to records reps and weights of each set. All data is saved in the cloud so no more pencil or paper needed.
        .col-sm-6
            img.index-section-image(src='images/entry_phone.png')
.row
    .index-section
        .col-sm-6
            img.index-section-image(src='images/journalmaster.png')
        .col-sm-6
            .index-section-text
                h3
                    i.fa.fa-fw.fa-lg.fa-book(style="color:#c3834c;")
                    = ' '
                    | Smart Journal
                span Lift better and smarter. What good is log keeping if you cannot make use of the information. With our smart journal, you can easily pin point which workout is lacking and focus on that. We'll do all the remembering so you won't have to.
#index-btn-group-bottom(style="background-color:white;")
    .row
        .col-xs-12
            h3
                i.fa.fa-fw.fa-lg.fa-key
                = ' '
                | Still on the fence about signing up? Go for a test drive.
            button.btn.btn-lg.btn-info.index-try-btn(type="button")
                i.fa.fa-fw.fa-lg.fa-key
                = ' '
                | Try Demo
    .row
        .col-xs-12
            p If you like what you see so far, create an account then Log In.
            button.btn.btn-lg.btn-success.index-signup-btn(type="button")
                i.fa.fa-fw.fa-lg.fa-user
                = ' '
                | Sign Up
            button.btn.btn-lg.btn-primary.index-login-btn(type="button")
                i.fa.fa-fw.fa-lg.fa-sign-in
                = ' '
                | Login