#index-btn-group-top
    .row
        .col-xs-12
            button.btn.btn-lg.btn-success.index-signup-btn(type="button")
                i.fa.fa-fw.fa-lg.fa-user
                = ' '
                | Sign Up
            button.btn.btn-lg.btn-primary.index-login-btn(type="button")
                i.fa.fa-fw.fa-lg.fa-sign-in
                = ' '
                | Login
.row
    .col-xs-12
        #index-section1
            #myCarousel.carousel.slide(data-ride='carousel')
                // Indicators
                ol.carousel-indicators
                    li.active(data-target='#myCarousel', data-slide-to='0')
                    li(data-target='#myCarousel', data-slide-to='1')
                    li(data-target='#myCarousel', data-slide-to='2')
                // Wrapper for slides
                .carousel-inner(role='listbox')
                    .item.active
                        h1 Simple to use journal and calendar
                        img(src='images/calendar_macbook.png')
                    .item
                        h1 Interactive graphs for data comparisons
                        img(src='images/graphs_blue.png')
                    .item
                        h1 Responsive on any screen size
                        img(src='images/responsive_blue.png')
                // Left and right controls
                a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                    span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                    span.sr-only Previous
                a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                    span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                    span.sr-only Next
.row
    .index-section2.col-lg-6
        .col-sm-6
            p.index-section-text Compare repetitions and weights of each workouts with interactive graphs. View data summary of your personal records and statistics.
        .col-sm-6
            img(src='images/data_phone.png').index-section-image
    .index-section2.col-lg-6
        .col-sm-6
            img(src='images/entry_phone.png').index-section-image
        .col-sm-6
            p.index-section-text Automatically keep track which workout you did last.

#index-section4
    .col-sm-6
        img(src='images/calendar_tablet.png')#index-section4-image
    .col-sm-6
        p#index-section4-text Create a daily schedule based on what muscle group to target. The scheduler will determine what to work on so you don't have to.

#index-section5
    .col-sm-6
        p#index-section5-text Personalize your workout log. A go to app for recording daily sessions.
    .col-sm-6
        img(src='images/duo_tablets.png')#index-section5-image

#index-section3
    .row
        .col-sm-3
            i.fa.fa-3x.fa-file-text-o
            h2 Journals
            p Track daily sessions quick and easily
        .col-sm-3
            i.fa.fa-3x.fa-bar-chart
            h2 Graphs
            p Interactive visual charts and data summary for each workout
        .col-sm-3
            i.fa.fa-3x.fa-calendar-check-o
            h2 Calendar
            p View logged data entries for each month
        .col-sm-3
            i.fa.fa-3x.fa-calendar-plus-o
            h2 Schedule
            p Daily reminders for which workout to do next
#index-btn-group-bottom
    .row
        .col-xs-12
            button.btn.btn-lg.btn-success.index-signup-btn(type="button")
                i.fa.fa-fw.fa-lg.fa-user
                = ' '
                | Sign Up
            button.btn.btn-lg.btn-primary.index-login-btn(type="button")
                i.fa.fa-fw.fa-lg.fa-sign-in
                = ' '
                | Login