br
.row
    .col-xs-12
        table.table.table-condensed.table-bordered.table-hover
            thead
                tr
                    td
                        b Workout
                    td
                        b P.R
                    td
                        b Date
                    td
                        b Avg
                    td
                        b Entries
            tbody