.row
    .col-sm-12
        span.lead Add weight lift
br
.row
    .col-sm-12
        form.form-horizontal
            .form-group
                label.col-sm-2.control-label(for='reps') Reps
                .col-sm-10
                    input.form-control#reps(placeholder='0')
            .form-group
                label.col-sm-2.control-label(for='touchspin') Reps
                .col-sm-10
                    input.form-control#touchspin(placeholder='0')
            .form-group
                .col-sm-12
                    button.btn.btn-primary.pull-right
                        i.fa.fa-cloud-upload
                        = ' '
                        | Save