.row
    .col-sm-12
        table.table.table-condensed.table-hover
            thead
                tr
                    td.col-xs-1
                    td
                        b Name
                    td
                        b Last
                    td
                        b Muscle
            tbody
