.row
    .col-sm-12
        table.table.table-condensed.table-hover
            thead
                tr
                    td
                        b Name
                    td
                        b Started
                    td.col-xs-1
            tbody
