.row
    .col-sm-12
        span
            b Click on a workout
br
.row
    .col-sm-12
        table.table.table-condensed.table-hover
            thead
                tr
                    td
                        b Name
                    td
                        b Started
                    td
                        b Muscle
            tbody