.row
    .col-sm-12
        span
            b CHOOSE A WORKOUT
br
.row
    .col-sm-8
        .btn-group
            button.btn.btn-default#strength-table-first
                i.fa.fa-chevron-left
                i.fa.fa-chevron-left
            button.btn.btn-default#strength-table-prev
                i.fa.fa-chevron-left
            button.btn.btn-default#strength-table-next
                i.fa.fa-chevron-right
            button.btn.btn-default#strength-table-last
                i.fa.fa-chevron-right
                i.fa.fa-chevron-right
    .col-sm-4
        .pull-right
            span
                b#strength-table-currentpage
                = ' '
            span
                b /
                = ' '
            span
                b#strength-table-lastpage
br
.row
    .col-sm-12
        table.table.table-condensed.table-hover
            thead
                tr
                    td
                        b Muscle
                    td
                        b Name
                    td
                        b Date
            tbody