/*-----------------------------------------------------------------------------
Body
-----------------------------------------------------------------------------*/

body {
  background: #F8F8FF;
}


/*-----------------------------------------------------------------------------
Elements
-----------------------------------------------------------------------------*/

a:hover {
  cursor: pointer;
}

/*-----------------------------------------------------------------------------
Content
-----------------------------------------------------------------------------*/

// Content padding, to pad body from fixed navbar.

#header {
  height: 38px;
}

#message{
  margin-top:    10px;
  margin-bottom: 10px;
}

#content {
  min-height:       250px;
}

// Change margin if viewport gets smaller.

@media (min-width: 1200px) {

  #message{
    margin-left:  150px;
    margin-right: 150px;
  }
  #content {
    margin-left:  150px;
    margin-right: 150px;
    padding: 30px 90px 30px;
  }
}

@media (min-device-width: 800px) and (max-width: 1200px) {

  #message{
    margin-left:  50px;
    margin-right: 50px;
  }
  #content {
    margin-left:  50px;
    margin-right: 50px;
    padding:      30px 50px 30px;
  }
}

@media (max-width: 767px) {

  #message{
    margin-left:  10px;
    margin-right: 10px;
  }
  #content {
    margin-left:  10px;
    margin-right: 10px;
    padding: 30px 15px 30px;
  }
}

/*-----------------------------------------------------------------------------
Footer
-----------------------------------------------------------------------------*/

#footer {
  padding:    0 0 0;
  margin-top: 20px;
  text-align: center;
}

/*-----------------------------------------------------------------------------
Top Nav Bar

-----------------------------------------------------------------------------*/

// Vertical divider for nav bar.

.nav-icon {
  height:      20px;
  line-height: 20px;
}

// Vertical divider for nav bar.

.nav-divider-vertical {
  height:       50px;
  margin:       0 1px;
  border-right: 1px solid #FFF;
  border-left:  1px solid #F2F2F2;
}

#index-nav-logo{
  position:  absolute;
  width:      100%;
  text-align: center;
  img{
    margin:     auto;
    margin-top: 3px;
    cursor:     default;
  }
}

#navbar-logo{
  position:   relative;
  width:      43px;
  height:     43px;
  margin-top: 5px;
  cursor:     pointer;
}

#navbar-banner{
  position:   relative;
  width:       120px;
  height:      20px;
  margin-top:  5px;
  margin-left: 5px;
  cursor:      pointer;
}
/*-----------------------------------------------------------------------------
Page nav
-----------------------------------------------------------------------------*/

.page-nav-btn {
  width:      70px;
  height:     35px;
  text-align: center;
}

/*-----------------------------------------------------------------------------
Left Sliding Menu
-----------------------------------------------------------------------------*/

.mm-menu {
  margin-top: 52px;
}

/*-----------------------------------------------------------------------------
Multiselect
-----------------------------------------------------------------------------*/

.multiselect-button {
  color:            black;
  text-align:       left;
  background-color: white;
  border:           solid 1px lightgray;
  border-radius:    4px;
  box-shadow:       none;
}

/*-----------------------------------------------------------------------------
Exercise
-----------------------------------------------------------------------------*/

.exercise-table-view tbody td {
  cursor: pointer;
}

.exercise-select {
  min-width:  25px;
  text-align: center;
}

#exercise-back-home {
  min-width: 70px;
}

/*-----------------------------------------------------------------------------
Strength
-----------------------------------------------------------------------------*/

#strength-back {
  min-width: 70px;
}

#strength-date-datepicker{
  font-size:   19px;
  font-weight: 600;
  text-align:  center;
}

#strength-modal-date {
  cursor: pointer;
}

#strength-modal-date-btn {
  cursor: pointer;
}

#strength-modal-time-btn {
  cursor: pointer;
}

#strength-table-view tbody tr {
  cursor: pointer;
}

#strength-table-null {
  text-align: center;
}

#strength-graph {
  min-width: 70px;
}

#strength-paginate-list {
  width:           100%;
  margin:          auto;
  white-space:     nowrap;
  list-style-type: none;
}

#strength-table thead{
  font-weight: 600;
}

.strength-cardtable table{
  border-style: double;
  border-width: 1px;

  tbody:hover {
    cursor:           pointer;
    background-color: rgba(0, 0, 0, 0.1);
  }

  td:first-child{
    font-weight: 600;
  }
}

.strength-filter-btn{
  height: 25px;
}

/*-----------------------------------------------------------------------------
Logs
-----------------------------------------------------------------------------*/

.logs-master-filter-btn{
  width: 200px;
}

.log-calendar-td{
  font-weight: bold;
  color:       #2B2922;
  background:  #ffcc66;
}

#log-calendar-ui{
  text-align: center;
  .datepicker{
    display:      block;
    margin-right: auto;
    margin-left:  auto;
  }
}
/*-----------------------------------------------------------------------------
Custom classes
-----------------------------------------------------------------------------*/

.locder-icon {
  z-index:   1000;
  font-size: 250px;
  color:     #FFFFFF;
  color:     rgba(0, 0, 0, 0.3);
}

.page-header {
  font-weight:    600;
  letter-spacing: 3px;
}

.noselect {
  -webkit-user-select:   none;
  -moz-user-select:      none;
  -ms-user-select:       none;
  user-select:           none;
}

.date-navigate-btn{
  height: 38px;
}

.btn-full-width{
  display: block;
  width:   100%;
}

/*-----------------------------------------------------------------------------
Bootstrap workarounds
-----------------------------------------------------------------------------*/

// Bootstrap time picker work around to show on top of modal

.bootstrap-timepicker-widget .dropdown-menu {
  z-index: 1050!important;
}

/*-----------------------------------------------------------------------------
Font icons
-----------------------------------------------------------------------------*/

/*
.fa-book {
  color: brown;
}
.fa-area-chart {
  color: darkseagreen;
}
.fa-user {
  color: cadetblue;
}
*/
/*-----------------------------------------------------------------------------
                              End of Document
-----------------------------------------------------------------------------*/
