

/*-----------------------------------------------------------------------------
Body
-----------------------------------------------------------------------------*/

html {
  height: 100%;
}

body {
  background: #F8F8FF;
  margin:     0;
  padding:    0;
  height:     100%;
}

/*-----------------------------------------------------------------------------
Content
-----------------------------------------------------------------------------*/

// Change margin if viewport gets smaller.

#content {

  padding-top: 60px;
  min-height:  400px;
  height:      95%;

  @media (min-width: 1200px) {
    margin-left:  15%;
    margin-right: 15%;
  }
  @media (min-device-width: 800px) and (max-width: 1200px) {
    margin-left:  10%;
    margin-right: 10%;
  }
  @media (max-width: 767px) {
    margin-left:  1%;
    margin-right: 1%;
  }
}
/*-----------------------------------------------------------------------------
Footer
-----------------------------------------------------------------------------*/

#footer {
  width:      100%;
  height:     5%;
  text-align: center;
  background: white;
  border-top: solid 2px lightgray;
  overflow: hidden;
}

/*-----------------------------------------------------------------------------
Index Page
-----------------------------------------------------------------------------*/

#index-bnt-group{
  width:      100%;
  position:   absolute;
  bottom:     80px;
  text-align: center;
  button{
    width:  100px;
    margin: 0 10px auto;
  }
}

#index-icons{
  text-align: center;
}

#test{
  border-right:  1px solid darkgrey;
  padding-right: 20px;
}

#index-signup-birthday{
  background: white !important;
}

#index-spinner-view{
  position: fixed;
  z-index: 15;
  width: 100%;
  .sk-cube {
    &:before {
      background-color: RGB(140,180,239);
    }
  }
  .sk-folding-cube {
    width: 140px;
    height: 140px;
  }
}


/*-----------------------------------------------------------------------------
Elements
-----------------------------------------------------------------------------*/

a:hover {
  cursor: pointer;
}

/*-----------------------------------------------------------------------------
Top Nav Bar

-----------------------------------------------------------------------------*/

// Vertical divider for nav bar.

.nav-icon {
  height:      20px;
  line-height: 20px;
}

// Vertical divider for nav bar.

.nav-divider-vertical {
  height:       50px;
  margin:       0 1px;
  border-right: 1px solid #FFF;
  border-left:  1px solid #F2F2F2;
}

#index-nav-logo{
  position:  absolute;
  width:      100%;
  text-align: center;
  img{
    margin:     auto;
    margin-top: 3px;
    cursor:     default;
  }
}

#navbar-logo{
  position:   relative;
  width:      43px;
  height:     43px;
  margin-top: 5px;
  cursor:     pointer;
}

#navbar-banner{
  position:   relative;
  width:       120px;
  height:      20px;
  margin-top:  5px;
  margin-left: 5px;
  cursor:      pointer;
}
/*-----------------------------------------------------------------------------
Page nav
-----------------------------------------------------------------------------*/

.page-nav-btn {
  width:      70px;
  height:     35px;
  text-align: center;
}

/*-----------------------------------------------------------------------------
Left Sliding Menu
-----------------------------------------------------------------------------*/

.mm-menu {
  margin-top: 52px;
}

/*-----------------------------------------------------------------------------
Multiselect
-----------------------------------------------------------------------------*/

.multiselect-button {
  color:            black;
  text-align:       left;
  background-color: white;
  border:           solid 1px lightgray;
  border-radius:    4px;
  box-shadow:       none;
}

/*-----------------------------------------------------------------------------
Exercise
-----------------------------------------------------------------------------*/

.exercise-table-view tbody td {
  cursor: pointer;
}

.exercise-select {
  min-width:  25px;
  text-align: center;
}

#exercise-back-home {
  min-width: 70px;
}

/*-----------------------------------------------------------------------------
Strength
-----------------------------------------------------------------------------*/

#strength-back {
  min-width: 70px;
}

#strength-date-next{
  z-index: 1;
}

#strength-date-datepicker{
  font-size:   16px;
  font-weight: 600;
  text-align:  center;
  z-index:     1;
}

#strength-modal-date {
  cursor: pointer;
}

#strength-modal-date-btn {
  cursor: pointer;
}

#strength-modal-time-btn {
  cursor: pointer;
}

#strength-table-view tbody tr {
  cursor: pointer;
}

#strength-table-null {
  text-align: center;
}

#strength-graph {
  min-width: 70px;
}

#strength-paginate-list {
  width:           100%;
  margin:          auto;
  white-space:     nowrap;
  list-style-type: none;
}

#strength-table thead{
  font-weight: 600;
}

.strength-cardtable table{
  border-style: double;
  border-width: 1px;

  tbody:hover {
    cursor:           pointer;
    background-color: rgba(0, 0, 0, 0.1);
  }

  td:first-child{
    font-weight: 600;
  }
}

.strength-filter-btn{
  height: 25px;
}

/*-----------------------------------------------------------------------------
Logs
-----------------------------------------------------------------------------*/

.logs-master-filter-btn{
  width: 200px;
}

.log-calendar-td{
  font-weight:  bold;
  color:        #2B2922;
  background:   #ffcc66;
  margin-right: auto;
  margin-left:  auto;
  border:       2px solid orange !important;
}

#log-calendar-ui{
  text-align: center;
  .datepicker{
    display:      block;
    margin-right: auto;
    margin-left:  auto;
  }
}
/*-----------------------------------------------------------------------------
Custom classes
-----------------------------------------------------------------------------*/

.locder-icon {
  z-index:   1000;
  font-size: 250px;
  color:     #FFFFFF;
  color:     rgba(0, 0, 0, 0.3);
}

.page-header {
  font-weight:    600;
  letter-spacing: 3px;
}

.noselect {
  -webkit-user-select:   none;
  -moz-user-select:      none;
  -ms-user-select:       none;
  user-select:           none;
}

.date-navigate-btn{
  height: 38px;
}

.btn-full-width{
  display: block;
  width:   100%;
}

/*-----------------------------------------------------------------------------
Bootstrap workarounds
-----------------------------------------------------------------------------*/

// Bootstrap time picker work around to show on top of modal

.bootstrap-timepicker-widget .dropdown-menu {
  z-index: 1050!important;
}

/*-----------------------------------------------------------------------------
Font icons
-----------------------------------------------------------------------------*/

/*
.fa-book {
  color: brown;
}
.fa-area-chart {
  color: darkseagreen;
}
.fa-user {
  color: cadetblue;
}
*/
/*-----------------------------------------------------------------------------
                              End of Document
-----------------------------------------------------------------------------*/
