/*-----------------------------------------------------------------------------
Elements
-----------------------------------------------------------------------------*/

body {
  background-color: whitesmoke;
}

a:hover {
  cursor: pointer;
}

/*-----------------------------------------------------------------------------
Content
-----------------------------------------------------------------------------*/

// Content padding, to pad body from fixed navbar.

.header {
  height: 50px;
}

.shortcut {
  height:     40px;
  margin-top: 5px;
}

.content {
  border:           double 3px lightgrey;
  min-height:       250px;
  background-color: white;
}

// Change margin if viewport gets smaller.

@media (min-width: 1200px) {
  .shortcut{
    margin-left:  140px;
    margin-right: 140px;
  }
  .content {
    margin-left:  150px;
    margin-right: 150px;
    padding: 30px 90px 30px;
  }
}

@media (min-device-width: 800px) and (max-width: 1200px) {
  .shortcut{
    margin-left:  30px;
    margin-right: 30px;
  }
  .content {
    margin-left:  50px;
    margin-right: 50px;
    padding: 30px 50px 30px;
  }
}

@media (max-width: 767px) {
  .shortcut{
    margin-left:  0;
    margin-right: 0;
  }
  .content {
    margin-left:  10px;
    margin-right: 10px;
    padding: 30px 15px 30px;
  }
}
/*-----------------------------------------------------------------------------
Shortcut
-----------------------------------------------------------------------------*/

.shortcut-btn{
  margin: 0 7px;
  width:  45px;
  height: 35px;
}

/*-----------------------------------------------------------------------------
Footer
-----------------------------------------------------------------------------*/

.footer {
  text-align: center;
  margin-top: 20px;
  padding:    0 0 0;
}

/*-----------------------------------------------------------------------------
Top Nav Bar

-----------------------------------------------------------------------------*/

// Vertical divider for nav bar.

.nav-icon {
  height:      20px;
  line-height: 20px;
}

// Vertical divider for nav bar.

.nav-divider-vertical {
  height:       50px;
  margin:       0 4px;
  border-left:  3px solid #F2F2F2;
  border-right: 3px solid #FFF;
}

// Collapsible menu

#nav-collapse-menu li:hover {
  background-color: lightgrey;
}

/*-----------------------------------------------------------------------------
Page nav
-----------------------------------------------------------------------------*/

.page-nav-btn {
  width:      70px;
  height:     35px;
  text-align: center;
}

/*-----------------------------------------------------------------------------
Left Sliding Menu
-----------------------------------------------------------------------------*/

.my-menu {
  box-shadow: none;
  z-index:    2000;
}

/*-----------------------------------------------------------------------------
Multiselect
-----------------------------------------------------------------------------*/

.multiselect-button {
  color:            black;
  background-color: white;
  box-shadow:       none;
  text-align:       left;
  border:           solid 1px lightgray;
  border-radius:    4px;
}

/*-----------------------------------------------------------------------------
Form
-----------------------------------------------------------------------------*/

.input-group-addon {
  color:            grey;
  background-color: whitesmoke;
}

/*-----------------------------------------------------------------------------
Home
-----------------------------------------------------------------------------*/

#home-list li:hover {
  cursor:           pointer;
  background-color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.1);
}

/*-----------------------------------------------------------------------------
Exercise
-----------------------------------------------------------------------------*/

.exercise-table-view tbody td {
  cursor: pointer;
}

.exercise-select {
  min-width:  25px;
  text-align: center;
}

#exercise-back-home {
  min-width: 70px;
}

/*-----------------------------------------------------------------------------
Strength
-----------------------------------------------------------------------------*/

#strength-back {
  min-width: 70px;
}

#strength-modal-date {
  cursor: pointer;
}

#strength-modal-date-btn {
  color:  white;
  cursor: pointer;
}

#strength-modal-time-btn {
  color:  white;
  cursor: pointer;
}

#strength-table-view tbody tr {
  cursor: pointer;
}

#strength-table-null {
  text-align: center;
}

#strength-graph {
  min-width: 70px;
}

#strength-paginate-list {
  width:           100%;
  list-style-type: none;
  margin:          auto;
  white-space:     nowrap;
}

/*-----------------------------------------------------------------------------
Custom classes
-----------------------------------------------------------------------------*/

.locder-icon {
  color:     #FFFFFF;
  color:     rgba(0, 0, 0, 0.3);
  font-size: 250px;
  z-index:   1000;
}

.page-header {
  font-weight:    600;
  letter-spacing: 3px;
}

.badge-color {
  background-color: dodgerblue;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select:   none;
  -khtml-user-select:    none;
  -moz-user-select:      none;
  -ms-user-select:       none;
  user-select:           none;
}

.date-navigate-btn{
  height: 33px;
}

.btn-full-width{
  display: block;
  width:   100%;
}

/*-----------------------------------------------------------------------------
Bootstrap workarounds
-----------------------------------------------------------------------------*/

// Bootstrap time picker work around to show on top of modal

.bootstrap-timepicker-widget.dropdown-menu {
  z-index: 1050!important;
}



/*-----------------------------------------------------------------------------
                              End of Document
-----------------------------------------------------------------------------*/
