.row
    .col-xs-12
        span.lead.page-header
            i.fa.fa-fw.fa-lg.fa-line-chart
            = ' '
            | Stats
br
.row
    .col-sm-6
        table.table.table-condensed.table-hover
            thead
                tr
                    td
                        b Workout
                    td
                        b Personal Record
            tbody
                tr
                    td Pull-Up
                    td 145
                tr
                    td Bench
                    td 120