.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li.active
                a Home
.row
    .col-sm-6
        .panel.panel-primary
            .panel-heading
                h3.panel-title
                    i.fa.fa-fw.fa-lg.fa-home
                    = ' '
                    | Home
            ul.list-group
                li.list-group-item#home-strengths
                    i.nav-icon.fa.fa-fw.fa-lg.fa-file-text-o
                    span
                        b
                            = ' '
                            | Journals
                    span.badge.badge-color#home-exercise-count 0
                li.list-group-item#home-logs
                    i.nav-icon.fa.fa-fw.fa-lg.fa-bar-chart
                    span
                        b
                            = ' '
                            | Graphs
                    span.badge.badge-color#home-log-count 0
                li.list-group-item#home-calendar
                    i.nav-icon.fa.fa-fw.fa-lg.fa-calendar
                    span
                        b
                            = ' '
                            | Calendar
                    span.badge.badge-color#home-calendar-count 0
    .col-sm-6
        .panel.panel-primary
            .panel-heading
                h3.panel-title
                    i.fa.fa-fw.fa-lg.fa-user
                    = ' '
                    | User
            ul.list-group
                li.list-group-item#home-profile
                    i.nav-icon.fa.fa-fw.fa-lg.fa-folder-open
                    span
                        b
                            = ' '
                            | Profile
                li.list-group-item#home-setting
                    i.nav-icon.fa.fa-fw.fa-lg.fa-wrench
                    span
                        b
                            = ' '
                            | Settings
