.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li.active
                span Home
.row
    .col-md-8.col-center
        .panel.panel-info
            .panel-heading
                h3.panel-title
                    i.fa.fa-fw.fa-lg.fa-home
                    = ' '
                    | Home
            ul.list-group.home-list
                li.list-group-item#home-strengths
                    i.nav-icon.fa.fa-fw.fa-lg.fa-book
                    a
                        b
                            = ' '
                            | Journals
                    span.badge.badge-info#home-exercise-count 0
                li.list-group-item#home-schedule
                    i.nav-icon.fa.fa-fw.fa-lg.fa-calendar-plus-o
                    a
                        b
                            = ' '
                            | Schedule
                li.list-group-item#home-calendar
                    i.nav-icon.fa.fa-fw.fa-lg.fa-calendar-check-o
                    a
                        b
                            = ' '
                            | Calendar
                li.list-group-item#home-weights
                    i.nav-icon.fa.fa-fw.fa-lg.fa-tachometer
                    a
                        b
                            = ' '
                            | Weight
.row
    .col-md-8.col-center
        .panel.panel-info
            .panel-heading
                h3.panel-title
                    i.fa.fa-fw.fa-lg.fa-calculator
                    = ' '
                    | Summary
            ul.list-group.home-list
                li.list-group-item#home-logs
                    i.nav-icon.fa.fa-fw.fa-lg.fa-bar-chart
                    a
                        b
                            = ' '
                            | Workouts
                li.list-group-item#home-body
                    i.nav-icon.fa.fa-fw.fa-lg#home-body-icon
                    a
                        b
                            = ' '
                            | Body
.row
    .col-md-8.col-center
        .panel.panel-default
            .panel-heading
                h3.panel-title
                    i.fa.fa-fw.fa-lg.fa-folder-o
                    = ' '
                    | User
            ul.list-group.home-list
                li.list-group-item#home-profile
                    i.nav-icon.fa.fa-fw.fa-lg.fa-folder-open-o
                    a
                        b
                            = ' '
                            | Profile
                li.list-group-item#home-account
                    i.nav-icon.fa.fa-fw.fa-lg.fa-user
                    a
                        b
                            = ' '
                            | Account
                li.list-group-item#home-logout
                    i.nav-icon.fa.fa-fw.fa-lg.fa-sign-out
                    a
                        b
                            = ' '
                            | Log Out
