.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li.active
                a Home
.row
    .col-sm-12
        .panel.panel-primary
            .panel-heading
                h3.panel-title
                    i.fa.fa-fw.fa-lg.fa-home
                    = ' '
                    | Home
            ul.list-group#home-list
                li.list-group-item#home-strengths
                    i.nav-icon.fa.fa-fw.fa-lg.fa-book
                    span
                        b
                            = ' '
                            | Journals
                    span.badge.badge-color#home-exercise-count 0
                li.list-group-item#home-logs
                    i.nav-icon.fa.fa-fw.fa-lg.fa-area-chart
                    span
                        b
                            = ' '
                            | Graphs
                    span.badge.badge-color#home-log-count 0