.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li.active
                span Home
.row
    .col-sm-6
        .panel.panel-info
            .panel-heading
                h3.panel-title
                    i.fa.fa-fw.fa-lg.fa-home
                    = ' '
                    | Home
            ul.list-group.home-list
                li.list-group-item#home-strengths
                    i.nav-icon.fa.fa-fw.fa-lg.fa-file-text-o
                    a
                        b
                            = ' '
                            | Journals
                    span.badge.badge-color#home-exercise-count 0
                li.list-group-item#home-schedule
                    i.nav-icon.fa.fa-fw.fa-lg.fa-calendar-plus-o
                    a
                        b
                            = ' '
                            | Schedule
                    span.badge.badge-color#home-schedule-count 0
                li.list-group-item#home-calendar
                    i.nav-icon.fa.fa-fw.fa-lg.fa-calendar-check-o
                    a
                        b
                            = ' '
                            | Calendar
                    span.badge.badge-color#home-calendar-count 0
                li.list-group-item#home-logs
                    i.nav-icon.fa.fa-fw.fa-lg.fa-bar-chart
                    a
                        b
                            = ' '
                            | Graphs
                    span.badge.badge-color#home-log-count 0
    .col-sm-6
        .panel.panel-default
            .panel-heading
                h3.panel-title
                    i.fa.fa-fw.fa-lg.fa-folder-open-o
                    = ' '
                    | User
            ul.list-group.home-list
                li.list-group-item#home-profile
                    i.nav-icon.fa.fa-fw.fa-lg.fa-user
                    a
                        b
                            = ' '
                            | Account
                li.list-group-item#home-logout
                    i.nav-icon.fa.fa-fw.fa-lg.fa-sign-out
                    a
                        b
                            = ' '
                            | Log Out
