.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li.active
                span Home
.row
    .col-md-8.col-center
        .panel.panel-info
            .panel-heading
                h3.panel-title
                    i.fa.fa-fw.fa-lg.fa-home
                    = ' '
                    | Home
            ul.list-group.home-list
                li.list-group-item#home-strengths
                    i.nav-icon.fa.fa-fw.fa-lg.fa-book
                    a
                        b
                            = ' '
                            | Journals
                    span.badge.badge-info#home-exercise-count 0
                li.list-group-item#home-schedule
                    i.nav-icon.fa.fa-fw.fa-lg.fa-calendar-plus-o
                    a
                        b
                            = ' '
                            | Schedule
                li.list-group-item#home-calendar
                    i.nav-icon.fa.fa-fw.fa-lg.fa-calendar-check-o
                    a
                        b
                            = ' '
                            | Calendar
                li.list-group-item#home-weights
                    i.nav-icon.fa.fa-fw.fa-lg.fa-tachometer
                    a
                        b
                            = ' '
                            | Weight
.row#home-admin-accounts-container.hide
    .col-md-8.col-center
        .panel.panel-info
            .panel-heading
                h3.panel-title
                    i.fa.fa-fw.fa-lg.fa-user-secret
                    = ' '
                    | Admin
            ul.list-group.home-list
                li.list-group-item#home-admin-accounts
                    i.nav-icon.fa.fa-fw.fa-lg.fa-users
                    a
                        b
                            = ' '
                            | Accounts
.row
    .col-md-8.col-center
        .panel.panel-info
            ul.list-group.home-list
                li.list-group-item#home-profile
                    i.nav-icon.fa.fa-fw.fa-lg.fa-folder-open-o
                    a
                        b
                            = ' '
                            | Profile
                li.list-group-item#home-account
                    i.nav-icon.fa.fa-fw.fa-lg.fa-user
                    a
                        b
                            = ' '
                            | Account
                li.list-group-item#home-logout
                    i.nav-icon.fa.fa-fw.fa-lg.fa-sign-out
                    a
                        b
                            = ' '
                            | Log Out
