.modal.fade
    .modal-dialog.modal-sm(role="document")
        .modal-content
            
            .modal-header
                h4.modal-title Add new session
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;

            .modal-body
                form.form-horizontal(novalidate)
                    .form-group.form-group-row
                        label.control-label
                            b Timestamp
                        p.form-control-static
                            span.mr-2#strength-modal-timestamp-date
                            span.mr-2 -
                            i.mr-2#strength-modal-timestamp-time
                    .form-group.form-group-row#strength-modal-weight-container
                        label.control-label
                            b Weight (lb)
                        input.form-control.form-control-sm#strength-modal-weight(type="number", placeholder='' required)
                    .form-group.form-group-row#strength-modal-weight-label-container
                        label.control-label Using Body
                        p.form-control-static
                            span#strength-modal-weight-label
                    .form-group.form-group-row
                        label.control-label
                            b Reps
                        input.form-control.form-control-sm#strength-modal-rep(type="number", placeholder='' required)
                    .form-group.form-group-row
                        .checkbox
                            label
                                input.mr-2#strength-modal-note-enable(type='checkbox')
                                | Add comment
                        textarea.hide.form-control#strength-modal-note(type="text", placeholder='Optional')
            
            .modal-footer
                button.btn.btn-default.mr-1(data-dismiss="modal" type='button') Cancel
                button.btn.btn-primary(type="submit") Save
