.row
    .col-xs-12
        h2 Sign Up for a Free Account
.row
    .col-xs-12
        span.help-block Please join! It’s only one click away!
.row
    .col-xs-12
        form.form-horizontal#index-signup-form
            .col-lg-6
                .form-group
                    .col-xs-12
                        label(for='index-signup-email') Email
                    .col-xs-12
                        input.form-control#index-signup-email(type='email', placeholder='Email Address', name='email', autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required)
                .form-group
                    .col-xs-12
                        label(for='index-signup-password') Password
                    .col-xs-12
                        input.form-control#index-signup-password(type='password', placeholder='Password', name='password', autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required)
            .col-lg-6
                .form-group
                    .col-xs-12
                        label(for='index-signup-username') Username
                    .col-xs-12
                        input.form-control#index-signup-username(type='text', placeholder='Username', name='username', autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required)
                .form-group
                    .col-xs-12
                        label Birthday
                    .col-xs-12
                        .input-group.date
                            input.form-control#index-signup-birthday(type='text', name='date',placeholder='yyyy-mm-dd', required)
                            span.input-group-addon
                                span
                                    i.fa.fa-fw.fa-lg.fa-th
            .col-xs-12
                .form-group
                    .col-xs-12
                        i.fa.fa-2x.fa-spinner.fa-spin#index-signup-spinner
                        #index-signup-recaptcha
            .col-lg-6
                .form-group
                    .col-xs-12
                        button.btn.btn-lg.btn-info.btn-block(type="submit")
                            i.fa.fa-fw.fa-lg.fa-user
                            = ' '
                            | Create Account
hr
.row
    .col-xs-12
        span.help-block By clicking "Sign Up", you agree to the Terms of Service and Privacy Policy.
