.row
    .col-xs-6
            label.pull-right Name
    .col-xs-6
        p#cardio-summary-name
.row
    .col-xs-6
        label.pull-right Muscle
    .col-xs-6
        p#cardio-summary-muscle
.row
    .col-xs-6
        label.pull-right Use Body
    .col-xs-6
        #cardio-summary-body
hr
.row
    .col-xs-6
        label.pull-right First Entry
    .col-xs-6
        p#cardio-summary-first
.row
    .col-xs-6
        label.pull-right Last Entry
    .col-xs-6
        p#cardio-summary-last
.row
    .col-xs-6
        label.pull-right Total Logs
    .col-xs-6
        p#cardio-summary-count