.row
    #cardio-calendar-ui
hr
.row(style="text-align:center")
    .col-xs-4
        i.fa.fa-fw.fa-lg.fa-trophy(style="color:#CD7F32")
        = ' '
        span
            b#cardio-trophy-bronze
    .col-xs-4
        i.fa.fa-fw.fa-lg.fa-trophy(style="color:#C0C0C0")
        = ' '
        span
            b#cardio-trophy-silver
    .col-xs-4
        i.fa.fa-fw.fa-lg.fa-trophy(style="color:#FFD700")
        = ' '
        span
            b#cardio-trophy-gold