.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li#about-home
                a Home
            li.active
                span About
.row
    .col-xs-12#about-view-container
        h1 About Us
        p Started in early 2016, WorkoutRank.com has set out to create a simple and easy to use web app for anyone looking to record their workout sessions.
        | We're always looking into our community for feedback and suggestion on how to improve our user's experience.

