#strength-modal-view
.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li#strength-home
                a Home
            li#strength-journals
                a Journals
            li.active
                a Entry
.row
    .col-sm-6
        .panel.panel-info
            .panel-heading.clearfix
                .pull-right
                    button.btn.btn-xs.btn-primary#strength-detail-add
                        i.fa.fa-fw.fa-plus
                        = ' '
                        span Add
                .panel-title.clearfix
                    span#strength-title
            .panel-body
                #strength-date-view
            #strength-table-view
            .panel-footer.clearfix
                a.pull-right.strength-graph-detail
                    = ' '
                    i.fa.fa-lg.fa-expand
    .col-sm-6
        .panel.panel-info
            .panel-heading
                .pull-right
                    button.btn.btn-xs.btn-default#strength-detail-edit
                        i.fa.fa-fw.fa-pencil
                        = ' '
                        span Edit
                .panel-title.clearfix
                    span Summary
            .panel-body
                #strength-summary-view
            .panel-footer.clearfix
                a.pull-right.strength-graph-detail
                    = ' '
                    i.fa.fa-lg.fa-expand