#strength-modal-view
.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li
                a Home
            li
                a Journals
            li.active
                a Entry
.row
    .col-sm-6
        .panel.panel-primary
            .panel-heading.clearfix
                .pull-right
                    button.btn.btn-sm.btn-primary#strength-detail-add
                        i.fa.fa.fa-plus
                        = ' '
                        span Add
                .panel-title.clearfix
                    span Title
            .panel-body
                #strength-date-view
            #strength-table-view
    .col-sm-6
        .panel.panel-primary
            .panel-body
                #strength-chart-view
            .panel-footer.clearfix
                a.pull-right Detail
                    = ' '
                    i.fa.fa-lg.fa-arrow-circle-o-right