#strength-modal-view
.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li#strength-home
                a Home
            li#strength-journals
                a Journals
            li.active
                span Entry
.row
    .col-sm-6.col-center
        .panel.panel-info
            .panel-heading.clearfix
                .pull-right
                    button.btn.btn-xs.btn-primary#strength-detail-add
                        i.fa.fa-fw.fa-plus
                        = ' '
                        span Add
                .panel-title.clearfix
                    i.fa.fa-fw.fa-lg.fa-file-text-o
                    = ' '
                    span#strength-title
            .panel-body
                #strength-date-view
            #strength-table-view
            .panel-footer.clearfix
                a.pull-right#strength-schedule-btn
                    i.fa.fa-fw.fa-calendar-plus-o
.row
    .col-sm-6.col-center
        .panel.panel-info
            .panel-heading.clearfix Calendar
            .panel-body
                #strength-calendar-view
            .panel-footer.clearfix
                a.pull-right#strength-calendar-btn
                    i.fa.fa-fw.fa-calendar-check-o
.row
    .col-sm-6.col-center
        .panel.panel-info
            .panel-heading
                .pull-right
                    button.btn.btn-xs.btn-default#strength-detail-edit
                        i.fa.fa-fw.fa-pencil
                        = ' '
                        span Edit
                .panel-title.clearfix
                    span Summary
            .panel-body
                #strength-summary-view
            .panel-footer.clearfix
                a.pull-right#strength-graph-btn
                    i.fa.fa-fw.fa-bar-chart
