#strength-modal-view
.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li#strength-home
                a Home
            li#strength-journals
                a Journals
            li.active
                span Entry
.row
    .col-md-8.col-center
        .panel.panel-info#strength-detail-add-container
            .panel-body
                .col-xs-6
                    button.btn.btn-block.btn-primary#strength-schedule-btn
                        i.fa.fa-fw.fa-lg.fa-calendar-check-o
                            = ' '
                        span Schedule
                .col-xs-6
                    button.btn.btn-block.btn-primary#strength-detail-add
                        i.fa.fa-fw.fa-lg.fa-pencil
                        = ' '
                        span Add Entry
.row
    .col-md-8.col-center
        .panel.panel-info
            .panel-heading.clearfix
                .panel-title
                    span#strength-title
            .panel-body
                #strength-date-view
            #strength-table-view
.row
    .col-md-8.col-center
        .panel.panel-info
            .panel-heading Daily Goal
            .panel-body#strength-goal-panel
                #strength-goal-view
.row
    .col-md-8.col-center
        .panel.panel-info
            .panel-heading.clearfix Performance Ranking
            .panel-body
                #strength-calendar-view
.row
    .col-md-8.col-center
        .panel.panel-info
            .panel-heading Performance Graph
            .panel-body
                #strength-graph-view
.row
    .col-md-8.col-center
        .panel.panel-info
            .panel-heading Overall Summary
            .panel-body
                #strength-summary-view
.row
    .col-md-8.col-center
        .panel.panel-info
            .panel-heading
                .pull-right
                    button.btn.btn-xs.btn-default#strength-detail-edit
                        i.fa.fa-fw.fa-lg.fa-wrench
                        = ' '
                        span Edit
                .panel-title.clearfix
                    span My Workout
            .panel-body
                #strength-workout-view
