#strength-modal-view
.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li#strength-home
                a Home
            li#strength-journals
                a Journals
            li.active
                span Entry
                i.fa.fa-fw.fa-lg.fa-pencil
.row
    .col-md-8.col-center
        .panel.panel-default
            .panel-heading
                h3.panel-title#strength-title
            .panel-body
                .col-xs-6#strength-detail-schedule-container
                    button.btn.btn-info#strength-schedule-btn
                        i.fa.fa-fw.fa-lg.fa-calendar-check-o
                            = ' '
                        span Schedule
                .col-xs-6#strength-detail-add-container
                    button.btn.btn-primary#strength-detail-add
                        i.fa.fa-fw.fa-lg.fa-pencil
                        = ' '
                        span Add Entry
.row
    .col-md-8.col-center
        .panel.panel-default
            .panel-heading
                h3.panel-title Journal Entries
            .panel-body#strength-history-panel
                #strength-history-view
.row
    .col-md-8.col-center
        .panel.panel-default
            .panel-heading.clearfix
                h3.panel-title Daily Challenges
            .panel-body
                #strength-challenge-view
.row
    .col-md-8.col-center
        .panel.panel-default
            .panel-heading
                h3.panel-title Performance
            .panel-body#strength-goal-panel
                #strength-goal-view
.row
    .col-md-8.col-center
        .panel.panel-default
            .panel-heading
                h3.panel-title Overall Ranking
            .panel-body
                #strength-calendar-view
.row
    .col-md-8.col-center
        .panel.panel-default
            .panel-heading
                h3.panel-title Progress
            .panel-body
                #strength-graph-view
.row
    .col-md-8.col-center
        .panel.panel-default
            .panel-heading
                h3.panel-title Summary
            .panel-body
                #strength-summary-view
.row
    .col-md-8.col-center
        .panel.panel-default
            .panel-heading.clearfix
                .pull-right
                    button.btn.btn-xs.btn-primary#strength-detail-edit
                        i.fa.fa-fw.fa-lg.fa-wrench
                        = ' '
                        span Edit
                h3.panel-title Workout
            .panel-body
                #strength-workout-view
