#strength-modal-view
.row
    .col-sm-12
        span.lead.page-header
            i.fa.fa-fw.fa-lg.fa-child
            = ' '
            span#strength-header
br
.row
    .col-sm-6
        #strength-date-view
br
.row
    .col-sm-6
        #strength-table-view
.row
    .col-sm-6
        #strength-paginate-view
br
.row
    .col-sm-6
        button.btn.btn-primary.btn-full-width#strength-detail-add
            i.fa.fa-lg.fa-file-text-o
            = ' '
            i.fa.fa.fa-plus