.col-md-8.col-center
    .panel.panel-default
        .panel-body
            .row
                .col-xs-6
                    span.timeline-strength-date
                .col-xs-6
                    span Reps at
                    = ' '
                    span
                        b.timeline-strength-rep
            .row
                .col-xs-6
                    span
                        b.timeline-strength-name
                .col-xs-6
                    span Weight at
                    = ' '
                    span
                        b.timeline-strength-weight
                    = ' '
                    | lb
            hr
            .row
                .col-xs-12
                    span.timeline-strength-note