.col-md-8.col-center
    .panel.panel-default
        .panel-body
            .row
                .col-xs-6
                    i.fa.fa-fw.fa-lg.fa-book
                    = ' '
                    span
                        b.timeline-strength-name
                .col-xs-6
                    span.pull-right.timeline-strength-date
            hr
            .row(style="text-align:center;")
                .col-xs-6
                    span Reps
                    = ' '
                    span
                        b.timeline-strength-rep
                    span.timeline-strength-growthRep
                    span.timeline-strength-changeRep
                .col-xs-6
                    span Weight
                    = ' '
                    span
                        b.timeline-strength-weight
                    = ' '
                    | lb
                    span.timeline-strength-growthWeight
                    span.timeline-strength-changeWeight
            .col-xs-12
                span.timeline-strength-note