.row
    .col-xs-12
        table.table.table-striped.table-hover.table-condensed.table-responsive#log-table
            thead
                tr
                    th
                    th
                        b Weight(lb)
                    th
                        b Rep
            tbody
                tr
                    td Maximum
                    td#log-table-rep-max
                    td#log-table-weight-max
                tr
                    td Average
                    td#log-table-rep-avg
                    td#log-table-weight-avg
                tr
                    td Minimum
                    td#log-table-rep-min
                    td#log-table-weight-min
                tr
                    td Total Count
                    td#log-table-rep-total
                    td#log-table-weight-total
