table.table.table-condensed.table-hover.slog-detail-table.table-striped
    thead
        tr
            td.col-xs-4
            td.col-xs-4
                b Weight
            td.col-xs-4
                b Reps
    tbody
        tr
            td
                b Max
            td#log-table-weight-max
            td#log-table-rep-max
        tr
            td
                b Avg
            td#log-table-weight-avg
            td#log-table-rep-avg
        tr
            td
                b Min
            td#log-table-weight-min
            td#log-table-rep-min