br
.row
    .col-xs-12.col-center
        i.fa.fa-fw.fa-copyright
        span.text-muted 2018 TTH
.row
    .col-xs-12.col-center
        #footer-navigate
            a#footer-feedback
                i.fa.fa-fw.fa-envelope
                span.text-muted Give us feedback