.row
    .col-sm-12
        button.btn.btn-default#exercise-strength-back
            i.fa.fa-arrow-left
            = ' '
            i.fa.fa-heartbeat
br
.row
    .col-sm-12
        span.lead
            i.fa.fa-fw.fa-lg.fa-shield
            = ' '
            | Strength
br
.row
    .col-sm-6
        .row
            .col-sm-12
                span.text-primary
                    b Add a new exercise
        br
        .row
            .col-sm-12
                #exercise-strength-input-view
    .col-sm-6
        #exercise-strength-table-view