.row
    .col-sm-6
        span.strength-goal-label
            b Rep
        .strength-goal-rep-gauge-container
    .col-sm-6
        span.strength-goal-label
            b Weight
        .strength-goal-weight-gauge-container
