.row
    .col-sm-6.strength-goal-rep
        span.strength-goal-label
            b Rep
        .strength-goal-rep-gauge-container
    .col-sm-6.strength-goal-weight
        span.strength-goal-label
            b Weight(lb)
        .strength-goal-weight-gauge-container
