.row
    .col-sm-12
        table.table.table-condensed.table-hover
            thead
                tr
                    td(colspan="2")
                        b Summary
            tbody
                tr
                    td Name
                    td#strength-log-table-name Benching
                tr
                    td Max
                    td#strength-log-table-max 100
                tr
                    td Min
                    td#strength-log-table-min 0
                tr
                    td Avg
                    td#strength-log-table-avg 50
                tr
                    td Target
                    td#strength-log-table-target
                tr
                    td Started
                    td#strength-log-table-date
