#weight-modal-view
.row
    .col-md-12
        nav
            i.fa.fa-fw.fa-lg.fa-question-circle.breadcrumb-help.mr-2#weight-help(style="cursor:pointer")
            ol.breadcrumb
                li.breadcrumb-item#weight-home
                    a Home
                li.breadcrumb-item.active
                    span Weight
.row
    .col-lg-6
        .card
            .card-header
                .float-right
                    button.btn.btn-sm.btn-primary#weight-detail-add
                        i.fa.fa-fw.fa-plus
                        span Log Weight
                span Weight Journal
            .card-body
                #weight-date-view
            #weight-table-view
    .col-lg-6
        .card
            .card-body
                #weight-calendar-view
.row
    .col-lg-6
        .card
            .card-body
                #weight-graph-view
    .col-lg-6
        .card
            .card-body
                #weight-reduce-view
