#movies-search-input
    .input-group.col-md-12
        input#movies-search.form-control.input-lg(type="text", placeholder="Search movies here..")
        span.input-group-btn
            button.btn.btn-info.btn-lg(type="button")
                i.glyphicon.glyphicon-search
.ul