br
.row
    .col-sm-12
        table.table.table-condensed.table-bordered.table-hover
            thead
                tr
                    td
                        b Time
                    td
                        b Reps
                    td
                        b Weight
            tbody