head
    title WorkoutRank
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    link(type="text/css", rel='stylesheet', href='style.css')
    script(type="text/javascript" src="bundle.js" charset="utf-8")
    script(src='https://www.google.com/recaptcha/api.js')
    //script(src='https://www.google.com/recaptcha/api.js?onload=recaptchaCallback&render=explicit&hl=iw', async='', defer='')
block content
body
    #header
    #shortcut-container
    #message-container
    #content
    #footer
        hr
        span (c) 2016 WorkoutRank. All rights reserved.