doctype html
html
  head
    meta(charset='utf-8')
    |     
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    |     
    meta(name='google', content='notranslate')
    |     
    meta(name='viewport', content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no')
    |     
    meta(name='apple-mobile-web-app-capable', content='yes')
    |     
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    |     
    meta(name='mobile-web-app-capable', content='yes')
    |     
    meta(name='keywords', content='workout, Workout, journal, Journal, tracker, bookkeeping, log, graph, automatic, calender, gym, schedule, cardio, weight, rank')
    |     
    meta(name='description', content='Online workout journal. Simple to use journal, calendar and scheduler. Include graphs and summaries of your workout.')
    |     
    title WorkoutRank
    |     
    link(type='text/css', rel='stylesheet', href='style.css')
    // inject:js
    script(src='bundle.js')
    // endinject

  body
    #header
    |     
    #loader
    |     
    #index
    |     
    #content
    |     
    #footer
    |     
    .addthis_inline_share_toolbox
    |     
    #drawer
