.row
    .col-xs-12
        table.table.table-striped.table-hover.table-condensed.table-responsive#log-table
            thead
                tr
                    th
                    th
                        b
                            u Rep
                    th
                        b
                            u Weight (lb)
            tbody
                tr
                    td
                        b Maximum
                    td#log-table-rep-max
                    td#log-table-weight-max
                tr
                    td
                        b Average
                    td#log-table-rep-avg
                    td#log-table-weight-avg
                tr
                    td
                        b Minimum
                    td#log-table-rep-min
                    td#log-table-weight-min
                tr
                    td
                        b Total Sum
                    td#log-table-rep-sum
                    td#log-table-weight-sum
