.row
    .col-sm-12
        .alert.alert-danger
            a.close(href='#', data-dismiss='alert', aria-label='close') ×
            span.lead #{status}
            = ' '
            span.lead #{title}
            p #{text}

