.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li#calendar-home
                a Home
            li.active
                span Schedule
.row
    .col-xs-12
        #calendar-view-container
