td.strength-table-td-remove(style="text-align:center; cursor:pointer;")
    i.fa.fa-fw.fa-lg.fa-times-circle(style="cursor:pointer;")
td
    b.strength-table-td-time
td
    span.strength-table-td-rep-growth
    span
        b.strength-table-td-rep
    .d-block
        span.strength-table-td-rep-change
        span &nbsp
        span.strength-table-td-rep-percent

td
    span.strength-table-td-weight-growth
    span
        b.strength-table-td-weight
    .d-block
        span.strength-table-td-weight-change
        span &nbsp
        span.strength-table-td-weight-percent
