.modal.fade(role="dialog")#strength-modal-dialog
    .modal-dialog.modal-sm
        .modal-content

            .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Create a new workout

            .modal-body
                form.form-horizontal#strength-modal-form
                    // Nav tabs
                    ul.nav.nav-tabs(role='tablist')
                        li.active(role='presentation')
                            a(href='#strength-modal-basic' aria-controls='basic', role='tab', data-toggle='tab')
                                i.fa.fa-fw.fa-lg.fa-pencil
                        li(role='presentation')
                            a(href='#strength-modal-remove' aria-controls='advance', role='tab', data-toggle='tab')
                                i.fa.fa-fw.fa-lg.fa-trash
                    br

                    // Tab panes

                    .tab-content

                        // Basic

                        #strength-modal-basic.tab-pane.active(role='tabpanel')
                            .form-group
                                .col-xs-12
                                    label.control-label(for='strength-modal-muscle') Muscle
                                .col-xs-12
                                    select.form-control#strength-modal-muscle(multiple='multiple')
                            .form-group
                                .col-xs-12
                                    label.control-label(for='strength-modal-name') Name
                                .col-xs-12
                                    input.form-control#strength-modal-name(required minlength="1" maxlength="25")
                                    .help-block.with-errors
                            .form-group
                                .col-xs-12
                                    .checkbox
                                        label
                                            input(type='checkbox')#strength-modal-body
                                            | Use body as weights
                            .form-group
                                .col-xs-12
                                    label.control-label(for='strength-modal-note') Note
                                .col-xs-12
                                    textarea.form-control#strength-modal-note(minlength="1" maxlength="50")
                            hr
                            .form-group
                                .col-xs-12
                                    .pull-right
                                        button.btn.btn-default.btn-lg(data-dismiss="modal" type='button') Cancel
                                        = ' '
                                        button.btn.btn-primary.btn-lg#strength-modal-submit(type="submit")
                                            i.fa.fa-fw.fa-lg.fa-save
                                            = ' '
                                            span save
                        // Remove

                        #strength-modal-remove.tab-pane(role='tabpanel')
                            br
                            .form-group
                                .col-xs-12
                                    button.btn.btn-danger.btn-block#strength-modal-delete(type="button")
                                        i.fa.fa-fw.fa-lg.fa-exclamation-circle
                                        = ' '
                                        span Delete