.row
    .col-xs-12
        #strength-modal-view
.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li#strength-home
                a Home
            li.active#strength-journals
                a Journals
.row
    .col-sm-12
        .panel.panel-info
            .panel-heading.clearfix
                .pull-right
                    button.btn.btn-xs.btn-primary#strength-add
                        i.fa.fa-fw.fa.fa-plus
                        = ' '
                        span New
                .pull-right
                    #strength-filter-view
                .panel-title.clearfix
                    i.fa.fa-fw.fa-lg.fa-file-text-o
                    = ' '
                    | Journals
            .panel-body
                #strength-table-view
