.row
    .col-xs-12
        #strength-modal-view
.row
    .col-sm-12
        span.lead.page-header
            i.fa.fa-fw.fa-lg.fa-shield
            = ' '
            | Strength Workouts
br
.row
    .col-md-7
        .pull-right
            #strength-filter-view
.row
    .col-md-7
        #strength-table-view
.row
    .col-md-7
        #strength-paginate-view
br
.row
    .col-md-7
        button.btn.btn-primary.btn-full-width#strength-add
            i.fa.fa-lg.fa-book
            = ' '
            i.fa.fa.fa-plus