.row
    .col-xs-12
        #strength-modal-view
.row
    .col-sm-12
        span.lead.page-header
            i.fa.fa-fw.fa-lg.fa-book
            = ' '
            | My Workouts
        .pull-right
            #strength-filter-view
        .pull-right
            button.btn.btn-default#strength-remove-enable(style="margin-right:5px;")
                i.fa.fa-lg.fa-cog
br
.row
    .col-md-7
        #strength-table-view
.row
    .col-md-7
        #strength-paginate-view
br
.row
    .col-md-7
        button.btn.btn-primary.btn-full-width#strength-add
            i.fa.fa.fa-plus
            = ' '
            i.fa.fa-lg.fa-book
            = ' '
            span New Workout
