.input-group
    span.input-group-btn
        button.btn.btn-default.date-navigate-btn#strength-date-prev
            i.fa.fa-lg.fa-arrow-left
    input.form-control#strength-date-datepicker(type="text" readonly)
    span.input-group-btn
        button.btn.btn-default.date-navigate-btn#strength-date-next
            i.fa.fa-lg.fa-arrow-right
