.row
    .col-sm-12
        table.table.table-condensed.table-hover.table-bordered
            thead
                tr
                    td
                        b Name
                    td
                        b Lastest
                    td
                        b Muscle
            tbody
