.row
    .col-sm-12
        .panel.panel-primary
            .panel-heading
                h3.panel-title
                    i.fa.fa-fw.fa-lg.fa-folder-open
                    = ' '
                    | Profile
            .panel-body
                form.form-horizontal
                    .form-group
                        label.col-sm-2.control-label(for='profile-username') Username
                        .col-sm-10
                            input.form-control#profile-username(input='text')
                    .form-group
                        label.col-sm-2.control-label(for='profile-firstname') First Name
                        .col-sm-10
                            input.form-control#profile-firstname(input='text')
                    .form-group
                        label.col-sm-2.control-label(for='profile-lastname') Last Name
                        .col-sm-10
                            input.form-control#profile-lastname(input='text')
                    .form-group
                        label.col-sm-2.control-label(for='profile-email') Email
                        .col-sm-10
                            input.form-control#profile-email(input='text')
                    .form-group
                        label.col-sm-2.control-label(for='profile-password') Password
                        .col-sm-10
                            input.form-control#profile-password(input='text')
                    .form-group
                        .col-sm-12
                            button.btn.btn-primary.pull-right
                                i.fa.fa-cloud-upload
                                = ' '
                                | Update