.row
    .col-xs-12
        table.table.table-striped.table-hover.table-condensed.table-responsive#log-table
            thead
                tr
                    th
                    th
                        b
                            u Duration
            tbody
                tr
                    td
                        b Maximum
                    td#log-table-duration-max
                tr
                    td
                        b Average
                    td#log-table-duration-avg
                tr
                    td
                        b Minimum
                    td#log-table-duration-min
                tr
                    td
                        b Total Sum
                    td#log-table-duration-sum
