.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li#calendar-home
                a Home
            li.active
                span Calendar
                i.fa.fa-fw.fa-lg.fa-calendar-plus-o
            .pull-right
                i.fa.fa-fw.fa-lg.fa-question-circle#calendar-help(style="cursor:pointer")
.row
    .col-xs-12
        .panel.panel-default
            .panel-heading
                h3.panel-title History Calendar
            .panel-body
                #calendar-view-container
