table.table.table-sm.table-striped
    tbody
        tr
            td
                b.float-right Name
            td#strength-summary-name
        tr
            td
                b.float-right Muscle
            td#strength-summary-muscle 
        tr
            td
                b.float-right Use own body weight
            td#strength-summary-body
        tr
            td
                b.float-right First Entry
            td#strength-summary-first
        tr
            td
                b.float-right Last Entry
            td#strength-summary-last
        tr
            td
                b.float-right Total Logs
            td#strength-summary-count
