.col-sm-4
    .panel.panel-info
        .panel-heading.clearfix
            a.pull-right
                i.fa.fa-lg.fa-chevron-circle-right
            h3.panel-title
                i.fa.fa-fw.fa-lg.fa-bar-chart
                = ' '
                span.graph-name Graphs
        .panel-body
            .graph-chart