.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li#admin-home
                a Home
            li.active
                span Accounts
                i.fa.fa-fw.fa-lg.fa-users
.row
    .col-xs-12
        .panel.panel-default
            .panel-heading
                h3.panel-title Accounts
            .panel-body
                .row
                    .col-sm-12#admin-accounts-table
                        table.table.table-striped.table-hover.table-condensed.table-responsive
                            thead
                                tr
                                    th #
                                    th Username
                                    th First Name
                                    th Last Name
                                    th Provider
                                    th Last Login
                                    th sConfs
                                    th sLogs
                                    th wLogs
                            tbody
