.row
    .col-xs-12
        #strength-modal-view
.row
    .col-lg-7.col-center
        nav
            i.fa.fa-fw.fa-lg.fa-question-circle.breadcrumb-help#strength-help(style="cursor:pointer")
            ol.breadcrumb
                li.breadcrumb-item#strength-home
                    a Home
                li.breadcrumb-item.active#strength-journals
                    span Strength
.row
    .col-lg-7.col-center
        .card
            .card-header
                .float-right
                    button.btn.btn-sm.btn-primary#strength-add
                        i.fa.fa-fw.fa.fa-plus
                        span.ml-1 Add Exercise
                .float-right
                    #strength-filter-view
            .card-body
                #strength-table-view
