.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li#admin-home
                a Home
            li.active
                span Feedbacks
                = ' '
                i.fa.fa-fw.fa-lg.fa-commenting
.row
    .col-xs-12
        .panel.panel-default
            .panel-heading
                h3.panel-title Feedbacks
            .panel-body
                .row
                    .col-sm-12
                        table.table.table-striped.table-hover.table-condensed.table-responsive
                            thead
                                tr
                                    th.col-xs-3 Date
                                    th.col-xs-3 Title
                                    th.col-xs-6 Text
                            tbody#admin-feedback-body
