.row
    .col-xs-12
        #calendar-modal-view
.row
    .col-xs-12
        ul.nav.nav-tabs
            li(role='presentation')#calendar-tab
                a Events
            li.active(role='presentation')
                a Schedule
        br
        .row
            .col-sm-12
                .panel.panel-info
                    .panel-heading.clearfix
                        .pull-right
                            button.btn.btn-xs.btn-primary#calendar-edit
                                i.fa.fa-fw.fa.fa-wrench
                                = ' '
                                span Edit
                    .panel-body
                        #calendar-widget