.row(style="text-align:center")
    .col-xs-12
        #strength-challenge-help
            h4(style="color:#8484FF;") For the first day of this exercise, do as much as you can. A challenge will be created tomorrow.
.row(style="text-align:center")#strength-challenges
    .col-sm-4
        i.fa.fa-fw.fa-2x.fa-trophy(style="color:#CD7F32")
        span &nbsp
        span
            u
                b#strength-challenge-rep-bronze
            span &nbsp
            | Reps
            span &nbsp
        span.strength-challenge-weight
            | @ &#8805
            span &nbsp
            u
                b#strength-challenge-weight-bronze
            span &nbsp
            | lbs
    .col-sm-4
        i.fa.fa-fw.fa-2x.fa-trophy(style="color:#C0C0C0")
        span &nbsp
        span
            u
                b#strength-challenge-rep-silver
            span &nbsp
            | Reps
            span &nbsp
        span.strength-challenge-weight
            | @ &#8805
            span &nbsp
            u
                b#strength-challenge-weight-silver
            span &nbsp
            | lbs
    .col-sm-4
        i.fa.fa-fw.fa-2x.fa-trophy(style="color:#FFD700")
        span &nbsp
        span
            u
                b#strength-challenge-rep-gold
            span &nbsp
            | Reps
            span &nbsp
        span.strength-challenge-weight
            | @ &#8805
            span &nbsp
            u
                b#strength-challenge-weight-gold
            span &nbsp
            | lbs