.row(style="text-align:center")
    .col-xs-12
        #strength-challenge-help
            h4(style="color:#8484FF;") Not enough past entries before today to create any challenges.
.row(style="text-align:center")
    i.fa.fa-fw.fa-2x.fa-trophy(style="color:#FFD700")
    = ' '
    span
        u
            b#strength-challenge-rep-gold
        = ' '
        | Reps @
        = ' '
        u
            b#strength-challenge-weight-gold
        = ' '
        | lbs
.row(style="text-align:center")
    i.fa.fa-fw.fa-2x.fa-trophy(style="color:#C0C0C0")
    = ' '
    span
        u
            b#strength-challenge-rep-silver
        = ' '
        | Reps @
        = ' '
        u
            b#strength-challenge-weight-silver
        = ' '
        | lbs
.row(style="text-align:center")
    i.fa.fa-fw.fa-2x.fa-trophy(style="color:#CD7F32")
    = ' '
    span
        u
            b#strength-challenge-rep-bronze
        = ' '
        | Reps @
        = ' '
        u
            b#strength-challenge-weight-bronze
        = ' '
        | lbs
