.row
    .col-xs-12
        ul.nav.nav-tabs
            li.active(role='presentation')
                a Events
            li(role='presentation')#calendar-tab
                a Schedule
        br
        #calendar-widget