.row
    .col-sm-12
        .panel.panel-info
            .panel-heading
                h3.panel-title
                    i.fa.fa-fw.fa-lg.fa-calendar-check-o
                    = ' '
                    | Calendar
            .panel-body
                #calendar-widget