.col-xs-12.left.clearfix
    span.chat-img.pull-left
        .twitter-profile
    .chat-body.clearfix
        .header
            strong.primary-font#username
            small.pull-right.text-muted
                span.glyphicon.glyphicon-time#date
        p#comment