td.strength-table-td-remove(style="text-align:center;")
    i.fa.fa-fw.fa-lg.fa-times-circle(style="cursor:pointer;")
td
    b.strength-table-td-time
td
    span.strength-table-td-growth
    b.strength-table-td-weight
td
    span.strength-table-td-change.mr-2
    span.strength-table-td-percent
