.row
    .col-sm-12
        table.table.table-sm.table-hover
            thead
                tr
                    th
                    th Time
                    th Weight (lb)
                    th Change
            tbody