.row
    .col-md-7.col-center
        .card.home-card-container
            .card-header.text-white.bg-primary
                i.fa.fa-fw.fa-lg.fa-question-circle.home-help#home-help(style="cursor:pointer")
                .text-center Journals
            ul.list-group.list-group-flush.home-list
                li.list-group-item#home-strengths
                    i.nav-icon.fas.fa-fw.fa-lg.fa-dumbbell
                    b.ml-2 Strength Training
                    .home-journal-counters
                        i.fa.fa-fw.fa-lg.fa-book
                        span#home-sconf-count.mr-2 0
                        i.fas.fa-fw.fa-lg.fa-pencil-alt
                        span#home-slog-count 0
                li.list-group-item#home-cardios
                    i.nav-icon.fas.fa-fw.fa-lg.fa-heartbeat
                    b.ml-2 Cardio Training
                    .home-journal-counters
                        i.fa.fa-fw.fa-lg.fa-book
                        span#home-cconf-count.mr-2 0
                        i.fas.fa-fw.fa-lg.fa-pencil-alt
                        span#home-clog-count 0
                li.list-group-item#home-weights
                    i.nav-icon.fas.fa-fw.fa-lg.fa-weight
                    b.ml-2 Weight Journal
                    .home-journal-counters
                        i.fas.fa-fw.fa-lg.fa-pencil-alt
                        span#home-wlog-count 0
.row
    .col-md-7.col-center
        .card.home-card-container
            .card-header.text-center.text-white.bg-warning Events
            ul.list-group.list-group-flush.home-list
                li.list-group-item#home-schedule
                    i.nav-icon.far.fa-fw.fa-lg.fa-clock
                    b.ml-2 Daily Schedule
                //li.list-group-item#home-timeline
                    i.nav-icon.fa.fa-fw.fa-lg.fa-newspaper-o
                    b.ml-2 Timeline
                li.list-group-item#home-calendar
                    i.nav-icon.far.fa-fw.fa-lg.fa-calendar-alt
                    b.ml-2 History Calendar

.row.d-none#home-admin-accounts-container
    .col-md-7.col-center
        .card.home-card-container
            .card-header.text-center Admin
            ul.list-group.list-group-flush.home-list
                li.list-group-item#home-admin-accounts
                    i.nav-icon.fa.fa-fw.fa-lg.fa-users
                    b.ml-2 Accounts
                    span.badge#home-user-count 0

            ul.list-group.home-list
                li.list-group-item#home-admin-feedbacks
                    i.nav-icon.fa.fa-fw.fa-lg.fa-commenting
                    b.ml-2 Feedback
                    span.badge#home-feedback-count 0
                li.list-group-item#home-admin-images
                    i.nav-icon.fa.fa-fw.fa-lg.fa-picture-o
                    b.ml-2 Images
                    span.badge#home-image-count 0
                li.list-group-item#home-admin-shedules
                    i.nav-icon.fa.fa-fw.fa-lg.fa-calendar.mr-2
                    b.ml-2 Schedules
                    span.badge#home-schedule-count 0
.row
    .col-md-7.col-center
        .card.home-card-container
            .card-header.text-center.text-white.bg-secondary Settings
            ul.list-group.list-group-flush.home-list
                li.list-group-item#home-profile
                    i.nav-icon.fas.fa-fw.fa-lg.fa-user-cog
                    b.ml-2 Profile 
                li.list-group-item#home-account
                    i.nav-icon.fas.fa-fw.fa-lg.fa-id-card
                    b.ml-2 Account
