.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li#account-home
                a Home
            li.active
                span Account
.row
    .col-sm-6#account-container
        .panel.panel-info
            .panel-heading
                h3.panel-title
                    i.fa.fa-fw.fa-lg.fa-user
                    = ' '
                    | Account
            .panel-body
                #account-summary
