.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li#account-home
                a Home
            li.active
                span Account
                i.fa.fa-fw.fa-lg.fa-user
.row
    .col-md-8.col-center
        .panel.panel-default
            .panel-heading
                h3.panel-title Account
            .panel-body
                #account-summary
