.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li#reset-home
                a Home
            li#reset-forgot
                a Forgot
            li.active
                span Reset
h4 Password Reset
br
.row
    .col-xs-12
        .col-lg-6#reset-view-container
            form.form-horizontal
                .form-group
                    .row
                        .col-xs-12
                            p Step 2. Enter a new password.
                    .row
                        label.col-sm-2.control-label(for='reset-password') Password
                        .col-sm-10
                            input.form-control#reset-password(placeholder="Password" type='password' minlength="4" maxlength="25" required)
                .form-group
                    .row
                        .col-xs-12
                            p Step 3. Confirm your password.
                    .row
                        label.col-sm-2.control-label(for='reset-confirm') Confirm Password
                        .col-sm-10
                            input.form-control#reset-confirm(placeholder="Confirm Password" type='password' minlength="4" maxlength="25" required)
                .form-group
                    .row
                        .col-xs-12
                            .pull-right
                                button.btn.btn-primary
                                    i.fa.fa-fw.fa-lg.fa-cloud-upload
                                    span &nbsp
                                    span Update Password
