hr
.form-group
    .col-sm-2.control-label
        label.exercise-strength-set-label Reps
.form-group
    .col-sm-2.control-label
        label Weight
    .col-sm-10
        input.form-control.exercise-strength-weight(placeholder=0)
.form-group
    .col-sm-2.control-label
        label Reps
    .col-sm-10
        input.form-control.exercise-strength-rep(placeholder=0)
