hr
.form-group
    .col-sm-2.control-label
        label.exercise-strength-set-label Set
    .col-sm-10
        input.form-control.exercise-strength-set(placeholder=0)
.form-group
    .col-sm-2.control-label
        label Weight
    .col-sm-10
        input.form-control.exercise-strength-weight(placeholder=0)
