.modal.fade#strength-detail-modal-dialog
    .modal-dialog.modal-sm(role="document")
        .modal-content
            .modal-header
                h4.modal-title Edit exercise
                button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;

            .modal-body
                form.form-horizontal#strength-modal-form
                    // Nav tabs
                    .nav.nav-tabs(role='tablist')
                        a.nav-item.nav-link.active(data-toggle='tab' href='#strength-modal-basic' role='tab' aria-controls='nav-home' aria-selected='true') Edit
                        a.nav-item.nav-link(data-toggle='tab' href='#strength-modal-remove' role='tab' aria-controls='nav-home' aria-selected='true') Delete
                    br

                    .tab-content#strength-modal-content

                        // Basic

                        .tab-pane.active#strength-modal-basic(role='tabpanel')
                            .form-group
                                label.control-label(for='strength-modal-muscle')
                                    b Muscle category
                                select.form-control#strength-modal-muscle(multiple='multiple')
                            .form-group
                                label.control-label(for='strength-modal-name') 
                                    b Exercise name
                                input.form-control#strength-modal-name(required minlength="1" maxlength="25")
                                .help-block.with-errors
                            .form-group
                                .checkbox
                                    label
                                        input.mr-2#strength-modal-body(type='checkbox')
                                        | Use own body as weights
                            .form-group
                                label.control-label(for='strength-modal-note')
                                    b Comment
                                textarea.form-control#strength-modal-note(placeholder='Optional' minlength="1" maxlength="250")
                            hr
                            .float-right
                                button.btn.btn-default.mr-1(data-dismiss="modal" type='button') Cancel
                                button.btn.btn-primary#strength-modal-submit(type="submit") save
                        // Remove

                        .tab-pane#strength-modal-remove(role='tabpanel')
                            br
                            .form-group
                                .col-xs-12
                                    button.btn.btn-danger.btn-block#strength-modal-delete(type="button")
                                        i.fa.fa-fw.fa-exclamation-circle.mr-1
                                        span Delete