td.strength-table-td-name
td.strength-table-td-muscle
td.strength-table-td-count
td.strength-table-td
    i.fa.fa-fw.fa-lg.fa-trash-o(style="color:#CC0000")
td.strength-table-td
    i.fa.fa-fw.fa-lg.fa-edit(style="color:#ff7f50")