.row
    .col-sm-12
        table.table.table-striped.table-condensed.table-responsive#strength-table
            thead
                tr
                    th.col-xs-5 Workout
                    th.col-xs-5 Muscle
                    th.col-xs-2
            tbody
