.row
    .col-sm-12
        table.table.table-striped.table-condensed.table-responsive#strength-table
            thead
                tr
                    th.col-sm-4.col-xs-5
                        u Exercise
                    th.col-sm-4.col-xs-5
                    th.col-sm-4.col-xs-2
            tbody
