.row
    .col-sm-12
        table.display.responsive.no-wrap#strength-table(width='100%')
            thead
                tr
                    th Workout
                    th Muscle
                    th Count
            tbody
