.row
    .col-sm-12
        table.table.table-striped.table-hover.table-condensed.table-responsive#strength-table
            thead
                tr
                    th.col-sm-4 Workout
                    th.col-sm-4 Muscle
                    th.col-sm-4 Count
            tbody
