.row
    .col-sm-12
        table.table.table-condensed#strength-table
            thead
                tr
                    td Delete
                    td Workout
                    td Date
                    td Muscle
            tbody
