.row
    .col-sm-12
        table.display.responsive.no-wrap#strength-table(width='100%')
            thead
                tr
                    th Workout
                    th Started
                    th Muscle
                    th.strength-table-th
                    th.strength-table-th
            tbody
