.visible-xs
    #shortcut
        .pull-right
            .btn-group
                button.shortcut-btn.btn.btn-default#shortcut-strengths
                    i.fa.fa-lg.fa-book
                button.shortcut-btn.btn.btn-default#shortcut-logs
                    i.fa.fa-lg.fa-bar-chart-o
                button.shortcut-btn.btn.btn-default#shortcut-home
                    i.fa.fa-lg.fa-home