.visible-xs
    #shortcut
        .pull-right
            .btn-group
                button.shortcut-btn.btn.btn-default#shortcut-home
                    i.fa.fa-lg.fa-home
                button.shortcut-btn.btn.btn-default
                    i.fa.fa-lg.fa-list-ol
                button.shortcut-btn.btn.btn-default#shortcut-strength
                    i.fa.fa-lg.fa-shield
                button.shortcut-btn.btn.btn-default#shortcut-logs
                    i.fa.fa-lg.fa-area-chart
                button.shortcut-btn.btn.btn-default#shortcut-summary
                    i.fa.fa-lg.fa-line-chart