.row
    .col-xs-12
        button.btn.btn-default.page-nav-btn#log-home
            i.fa.fa-lg.fa-home
br
.row
    .col-xs-12
        span.lead.page-header
            i.fa.fa-fw.fa-lg.fa-area-chart
            = ' '
            | Log
br
.row
    .col-xs-12
        #log-graph-view
hr
br
.row
    .col-sm-12
        #log-table-view
