.row
    .col-xs-12
        button.btn.btn-default#strength-log-back
            i.fa.fa-lg.fa-arrow-left
            = ' '
            i.fa.fa-lg.fa-file-text-o
br
.row
    .col-xs-12
        span.lead.page-header
            i.fa.fa-fw.fa-lg.fa-area-chart
            = ' '
            | Log
br
.row
    .col-xs-12
        #strength-log-graph-view
hr
br
.row
    .col-sm-12
        #strength-log-table-view
