.row(style="text-align:center")
    .col-xs-12
        #cardio-challenge-help
            h4(style="color:#8484FF;") For the first day do as much as you can! Challenges will be given tomorrow, when there is data to work with.
.row(style="text-align:center")#cardio-challenges
    .col-sm-4
        i.fa.fa-fw.fa-2x.fa-trophy(style="color:#CD7F32")
        = ' '
        span
            u
                b#cardio-challenge-duration-bronze
            = ' '
            | Durations
            = ' '
        span.cardio-challenge-weight
            | @ &#8805
            = ' '
            u
                b#cardio-challenge-weight-bronze
            = ' '
            | lbs
    .col-sm-4
        i.fa.fa-fw.fa-2x.fa-trophy(style="color:#C0C0C0")
        = ' '
        span
            u
                b#cardio-challenge-duration-silver
            = ' '
            | Durations
            = ' '
        span.cardio-challenge-weight
            | @ &#8805
            = ' '
            u
                b#cardio-challenge-weight-silver
            = ' '
            | lbs
    .col-sm-4
        i.fa.fa-fw.fa-2x.fa-trophy(style="color:#FFD700")
        = ' '
        span
            u
                b#cardio-challenge-duration-gold
            = ' '
            | Durations
            = ' '
        span.cardio-challenge-weight
            | @ &#8805
            = ' '
            u
                b#cardio-challenge-weight-gold
            = ' '
            | lbs