.row
    .col-sm-12
        table.table.table-condensed.table-hover
            thead
                tr
                    td(colspan="2")
                        b Summary
            tbody
                tr
                    td Name
                    td#strength-log-table-name
                tr
                    td Max
                    td#strength-log-table-max
                tr
                    td Min
                    td#strength-log-table-min
                tr
                    td Target
                    td#strength-log-table-target
                tr
                    td Started
                    td#strength-log-table-date
