.row
    .col-sm-12
        form.form-horizontal#weight-summary-form
            .form-group
                label.col-sm-6.control-label(for='weight-summary-count') Count
                .col-sm-6
                    p.form-control-static#weight-summary-count
            .form-group
                label.col-sm-6.control-label(for='weight-summary-first') First Entry
                .col-sm-6
                    p.form-control-static#weight-summary-first
            .form-group
                label.col-sm-6.control-label(for='weight-summary-last') Last Entry
                .col-sm-6
                    p.form-control-static#weight-summary-last
