.row
    .col-xs-6
        label.pull-right Log Count
    .col-xs-6
        span#body-summary-count
.row
    .col-xs-6
        label.pull-right First Entry
    .col-xs-6
        p#body-summary-first
.row
    .col-xs-6
        label.pull-right Last Entry
    .col-xs-6
        p#body-summary-last
.row
    .col-xs-6
        label.pull-right Current Weight
    .col-xs-6
        p#body-summary-current-weight
.row
    .col-xs-6
        label.pull-right BMI
    .col-xs-6
        p#body-summary-bmi

