.row
    .col-sm-12
        form.form-horizontal#body-summary-form
            .form-group
                label.col-sm-6.control-label(for='body-summary-count') Count
                .col-sm-6
                    p.form-control-static#body-summary-count
            .form-group
                label.col-sm-6.control-label(for='body-summary-first') First Entry
                .col-sm-6
                    p.form-control-static#body-summary-first
            .form-group
                label.col-sm-6.control-label(for='body-summary-last') Last Entry
                .col-sm-6
                    p.form-control-static#body-summary-last
            .form-group
                label.col-sm-6.control-label(for='body-summary-current-weight') Current Weight
                .col-sm-6
                    p.form-control-static#body-summary-current-weight
            .form-group
                label.col-sm-6.control-label(for='body-summary-bmi') BMI
                .col-sm-6
                    p.form-control-static#body-summary-bmi
