.row
    .col-xs-12
        span.lead.page-header
            i.fa.fa-fw.fa-lg.fa-area-chart
            = ' '
            | Log
br
.row
    .col-xs-12
        #log-graph-view
br
.row
    .col-sm-12
        #log-table-view
