.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li
                a Home
            li
                a Graphs
            li.active
                a Data
.row
    .col-md-6
        .panel.panel-primary
            .panel-heading.clearfix Title
            .panel-body
                #log-graph-view
    .col-md-6
        .panel.panel-primary
            .panel-heading.clearfix Summary
            #log-table-view