.row
    .col-xs-6
        span.lead.page-header
            i.fa.fa-fw.fa-lg.fa-bar-chart-o
            = ' '
            | Chart
    .col-xs-6
        .pull-right
            button.btn.btn-default
                i.fa.fa-fw.fa-lg.fa-file-text-o
br
#log-graph-view
br
.row
    .col-sm-12
        #log-table-view
