.row
    .col-xs-6
        button.btn.btn-default#log-back
            i.fa.fa-fw.fa-lg.fa-arrow-left
    .col-xs-6
        .pull-right
            button.btn.btn-default
                i.fa.fa-fw.fa-lg.fa-file-text-o
br
#log-graph-view
br
.row
    .col-sm-12
        #log-table-view
