.row
    .col-xs-12
        ol.breadcrumb(style='margin-bottom: 5px;')
            li#graph-home
                a Home
            li#graph-graphs
                a Graphs
            li.active
                a Data
.row
    .col-md-6
        .panel.panel-info
            .panel-heading.clearfix#log-title
            .panel-body
                #log-graph-view
    .col-md-6
        .panel.panel-info
            .panel-heading.clearfix Summary
            #log-table-view