.row
    .col-xs-12
        h1 Log In
.row
    .col-xs-12
        span.help-block Already have an account? Log in below.
.row
    .col-xs-12
        form.form-horizontal#login-form(data-toggle="validator")
            .form-group
                .col-xs-12
                    label(for='login-user') Email or Username
                .col-xs-12
                    input.form-control#login-user(type='input', placeholder='Email or Username' autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required minlength="2" maxlength="25")
                    .help-block.with-errors
            .form-group
                .col-xs-12
                    label(for='login-password') Password
                .col-xs-12
                    input.form-control#login-password(type="password", placeholder='Password' autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required minlength="4" maxlength="20")
                    .help-block.with-errors
            .form-group
                .col-xs-12
                    button.btn.btn-lg.btn-primary.btn-block#login-submit
                        i.fa.fa-fw.fa-lg.fa-sign-in
                        = ' '
                        | Log In
hr
.row
    .col-xs-6
        a#login-forgot-user Reset Password
    .col-xs-6
        a#login-signup SignUp for an Account