.col-xs-12
    nav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            .navbar-header
                #index-nav-logo
                    img(src='./images/logo.png')#navbar-logo
                    img(src='./images/banner.png')#navbar-banner