.col-xs-12.comment-region
    .col-xs-1
        .movie-thumbnail
    .col-xs-6
        a.movie-title(style="cursor: pointer;")
        br
        span.movie-synopsis
    .col-xs-2
        span.movie-rating
hr
